.soft-grey {
    color: $gray;
}

.checkable-element {
    
    input[type="radio"],
    input[type="checkbox"] {
        display: none;

        &:checked {
            + .checkable-element__placeholder,
            + .color-primary-important + .checkable-element__placeholder,
            + input[type=hidden] + .checkable-element__placeholder,
            + .color-primary-important + input[type=hidden] + .checkable-element__placeholder {
                opacity: 1;
            }
        }
    }

}

.field-validation-error {
    color: $red;
    margin-bottom: 1em;
    display: block;
}

.payment-methods {
    label {
        cursor: pointer;

        &:hover {
            background-color: $gray-ultralightest;
        }
    }

    input[type="radio"] {
        display: none;

        + img {
            cursor: pointer;
            pointer-events: none;
            padding: 0 1em;
            border: 1px solid transparent;
        }

        &:checked {
            + img {
                border-color: $gray-lighter;
            }
        }
    }
}

.modal-body {
    .dynamic-form {
        label {
            p {
                margin: 0;
            }
        }
    }
}

table.align-top {
    tr {
        td {
            vertical-align: top;
        }
    }
}

.tariffs-table {
    margin-right: -10px;
    margin-left: -10px;
    border-collapse: separate;
    border-spacing: 10px 0;

    tbody {
        tr {
            td {
                width: 33.3333%;
            }
        }
    }

    &.no-descriptions {
        tbody {
            tr {
                td {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .tariffs-table {
        tbody {
            tr {
                td {
                    &:nth-child(1) {
                        width: 20%;
                    }

                    &:nth-child(2) {
                        width: 15%;
                    }

                    &:nth-child(3) {
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .tariffs-table {
        tbody {
            tr {
                td {
                    &:nth-child(1) {
                        width: 30%;
                    }

                    &:nth-child(2) {
                        width: 25%;
                    }

                    &:nth-child(3) {
                        width: 45%;
                    }
                }
            }
        }
    }
}