.qfooter__legalline { background: $black; padding: 10px 0;}
.qfooter__navigation { background: $gray-darker; padding: 40px 0 0; }
.qfooter__navigation__doormat {
    a { text-decoration: none; line-height: 1.2em; display: inline-block; }
    a:hover { text-decoration: underline; }
    li { padding-bottom: 10px; }
}
.qfooter__navigation__buttons { margin-bottom:10px}
 
// This is the Benjasystem:
@media (min-width: $screen-md-min) {
    .qfooter__navigation__doormat { width:80%; float:left; padding-right: 40px;}
    .qfooter__navigation__buttons { width:20%; float:left;}
}

// debug info 
.qfooter .environment-info { margin-top: 25px; font-size: 0.75em; color: lightgray;
        &::selection, span::selection { background: white; color: black; }
}

// ** BOVENSTAANDE HERZIEN BIJ LIVE **

footer.new {
	margin-top: 75px;
	background: $black;
	padding: 20px 0 10px;
	.navbar-brand {
		padding: 0;
		height: auto;
	}
	.navbar-right {
		margin: 0;
	}
	nav ul li a,
	nav ul li a:hover {
		line-height: 40px;
		padding: 0;
		background: none !important;
		text-decoration: none;
		margin-left: 30px;
	}
	nav ul li a:hover {
		color: $red;
	}
}