
/**** Badge ****/
.badge {
    height: 1.667em;
    min-width: 1.667em;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 0.833em;
    font-weight: normal;
    line-height: 1.667em;
    border-radius: 0;

    & + span {
        vertical-align: middle;
    }

    &.badge-circle {
        border-radius: 12px;
    }
    
    &.badge-transparent {
        background-color: transparent;
    }

    &.badge-line {
        border: 1px solid;
    }

    &.badge-grey {
        border-color: $gray-dark;
        color: $gray-dark;

        &.light-border {
            border-color: $gray-lighter;
        }
    }
}
  