.dropdown-menu { min-width: 100%; margin-top: -3px; box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.1); }

.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus { 
    background-color: $white
}
.btn-group.open .dropdown-toggle { box-shadow: none;}
.dropdown-menu { padding: 5px 0;
    .divider { margin: 5px 0;}
    > li:first-child.divider { display: none; }
    > li.active > a { font-family: $font-family-sans-serif-bold; }
}

