.qp-header {
    position: relative;

    .qp-header__line,
    &:after {
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
    .qp-header__line {
        right: calc(100% - 15px); // Compensate for gutter
        background-color: $black;
        z-index: 1;
    }

    &:after {
        content: " ";
        background-color: $red;
    }
}

@media (min-width: $screen-md-min) {
	body.fixedscroll header {
		position: fixed;
		width: 100%;
		z-index: 9999;
		background: $white;
	}
}