.img-bg {
    background-color: $lighter-black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    &.bg-gradient,
    &.bg-gradient-half {
        position: relative;

        &:before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            //background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45));
        }

        &.bg-gradient-right:before {
            right: 0;
            left: auto;
        }
    }
}

@media (min-width: $screen-md-min) {
    .img-bg.bg-gradient-half:before {
        width: 50%;
    }
}
