.smallnewslist__item {display:flex; }
.smallnewslist__item__thumb { margin-right: 30px; width: 200px;  flex-shrink: 0;}
.smallnewslist__item[onClick^="window.location"] { cursor: pointer;
    &:hover {
        .h4 { text-decoration: underline; }
        /*.smallnewslist__item__thumb { opacity: 1; filter: grayscale(0.3); }*/
    }
}
 
@media (min-width: $screen-lg-min) {
   .smallnewslist__item__thumb { width: 300px; }
}
@media (max-width: $screen-xs-min) {
   .smallnewslist__item__thumb { width: 110px;margin-right:15px; }
}





.news-feed {
    margin-top: 50px;
    padding: 0 10px;

    h3 {
        margin: 0;
    }

    &-entry {
        display: block;
        margin: 0 -15px;
        padding: 15px;
        padding-bottom: 0;
        color: $black;
        text-decoration: none;

        &:first-of-type {
        }

        &:hover {
            background-color: $gray-ultralightest;
        }

        &-title {
            font-family: $font-family-sans-serif-bold;
        }

        &-body {
            max-height: calc(#{$line-height-computed} * 2);
            overflow-y: hidden;

            &-wrapper {
                border-bottom: 1px solid $gray-lightest;
                padding-bottom: 15px;
            }
        }
    }

    .more-news {
        margin-top: 30px;
        margin-right: 10px;
    }
}

@media (min-width: $screen-md-min) {
    .news-feed {
        margin-top: 0;
    }
}
