.navbar-qp {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding-bottom: 4px;
    
    .navbar-form {
        .form-group {
            &.block {
                display: block;
            }

            .form-control {
                width: 100%;
            }
        }
    }

    .navbar-header {
        .navbar-toggle {
            margin-top: 27px;
            margin-bottom: 27px;
            
            & + .navbar-toggle {
                margin-right: 0;
            }

            &.collapsing {
                height: auto;
            }

            .icon-bar {
                background-color: $gray-dark;
                height: 3px;
            }

            &:not(.collapsed) {
                .icon-bar {
                    background-color: $red;

                    &:nth-child(2) {
                        height: 4px;
                        transform: rotate(45deg) translate(5px, 5px);
                    }
                    
                    &:nth-child(3) {
                        opacity: 0;
                    }
                    
                    &:nth-child(4) {
                        height: 4px;
                        transform: rotate(-45deg) translate(5px, -6px);
                    }
                }
            }
        }

        .navbar-brand {
            padding: 20px 0;
            height: auto;
        }
    }

    .navbar-collapse {
        border-color: $gray-worm;
        
        &.collapsing {
            height: auto;
        }

        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;

            li {
                border-bottom: 1px solid $gray-worm;

                > a {
                    padding: 15px;
                    font-family: $font-family-sans-serif-bold;
                    color: $black;
                    text-decoration: none;

                    &:focus {
                        background-color: transparent;
                    }

                    &:hover {
                        background-color: transparent;
                        color: $red;
                    }
                }

                &.user-menu {
                    border-bottom: none;

                    > a,
                    ul > li > a {
                        font-family: $font-family-sans-serif;
                    }
                                
                    ul {
                        list-style-type: none;

                        > li > a {
                            display: block;
                            position: relative;
                        }
                    }
                    
                    .user-menu-dropdown-toggle {
                        padding: 0;
                    }
                }

                &.active {
                    > a {
                        color: $red;
                    }
                }

                &.language-selector-wrapper {
                    border-bottom: 0;
                }
            }

            &.main-nav {
                li {
                    &:last-child {
                        border-bottom: 0;

                        > a {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .user-menu {
        &.open > a {
            background-color: transparent;
        }

        .user-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .user-info {
            margin: 0 23px 0 39px;
            max-width: 140px;
            font-size: 0.89em;

            &__name,
            &__role {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.125;
            }
        }

        .user-arrow {
            right: 0;
            font-size: 0.25em;
        }

        .user-menu-dropdown {
            width: 325px;
            margin-top: 0;
            padding: 0;
            right: 0;
            border: none;
            box-shadow: none;
            text-align: center;

            .user-menu-dropdown__item {
                border-bottom: 1px solid $gray-worm;

                &:last-child {
                    border-bottom: none;
                }

                .user-menu-dropdown__icon {
                    display: none;
                }
            }                
        }

        &.only-icon {
            padding: 18px 0;

            .user-icon {
                display: inline-block;
                position: relative;
                top: 0;
                left: 0;
                margin-right: 10px;
                padding-left: 0;
                border-left: 0;
                transform: none;

                &,
                + span {
                    vertical-align: middle
                }
            }
        }
    }

    .language-selector-wrapper {
        margin: 0;
        padding: $whitespace-xs 0 0;

        .language-selector {
            &.text-uppercase + ul {
                text-transform: uppercase;
                
                > li > a {
                    font-family: $font-family-sans-serif;
                }
            }
        }
    }

    .search-box {
        position: relative;
        padding: $whitespace-xs 0;

        .search-box__button {
            position: absolute;
            top: 50%;
            right: 7px;
            background: transparent;
            border: none;
            transform: translateY(-50%);
        }
    }
}

@media (min-width: $screen-md-min) {
    @import "_Component_navbar-inline.scss";
}

@media (min-width: 1563px) { //1563px, otherwise the dropdown gets pushed off screen.
    .navbar-qp {
        .navbar-collapse {
            .navbar-nav {
                .user-menu {
                    .user-menu-dropdown {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}