table {
	color: #333;
	font-size: 1em;
	width: 100%;

	tr {
		td {
			padding: .25em .5em .25em 0;
			
			&:nth-child(1) {
				color: $gray-dark;
			}
		}
	}

	&.tbl-overview {
		thead {
			display: none;
		}

		tr {
			&.mobile-labels {
				display: block;
	
				td {
					display: block;
					width: 100%;

					&:before {					
						content: attr(data-th);
						display: inline-block;
						text-align: left;
						float: left;
						color: $gray !important; 
					}

					&.mobile-hide {
						display: none !important;
					}
				}
			}
			
			&.mobile-hide {
				display: none;
			}
		}
	}

	&.clean-table {
		color: inherit;

		tr {
			td {
				vertical-align: bottom;

				&:nth-child(1) {
					color: inherit;
				}
			}
		}
	}
}

.extra-note {
	margin-top: 1em;
	color: $gray-dark;
}

.asterisk {
	color: $gray-dark;
	font-style: italic;
	font-size: .9em;
}

@media (max-width: $screen-sm-max) {
	table {
		&.tbl-overview {	
			tr {
				&.mobile-labels {		
					td {
						text-align: right !important;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	table {		
		&.tbl-overview {
			thead {
				display: table-header-group;
			}
	
			tr {
				&.mobile-labels {
					display: table-row;
		
					td {
						//text-align: inherit;
						
						&:before {					
							display: none;
						}

						&,
						&.mobile-hide {
							display: table-cell !important;
						}
					}
				}
				
				&.mobile-hide {
					display: table-row;
				}
			}
		}
	}
}