.img-bg,
.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $lighter-black;
    
    &.bg-gradient,
    &.bg-gradient-half {
        &:before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            //background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45));
        }

        &.bg-gradient-right:before {
            right: 0;
            left: auto;
        }
    }
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.video-bg {
    .video-bg-wrapper {
        position: relative;
        height: 0;
        padding-top: 0;
        padding-bottom: 56.25%; // 16:9 = 0.5625

        iframe {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.1s linear;

            &.active {
                opacity: 1;
            }
        }
    }

    &.bg-gradient,
    &.bg-gradient-half {
        &:before {
            z-index: 1;
        }
    }
}

.content-right {
    .bg-gradient:before {
        right: 0;
        left: auto;
    }
}

@media (min-width: $screen-md-min) {
    .img-bg,
    .video-bg {
        &.bg-gradient-half:before {
            width: 50%;
        }
    }
}
