//:not(.navbar-nav):not(.inpagenav-list):not(.pager-items):not(.check-list):not(.selectboxit-list):not(.multiSelect-list):not(.list-unstyled):not(.list-inline):not(.list--lined)
.qp-rte {
    ul {
        &,
        & + p {
            margin: 0;
            padding-left: 20px;
        }

        &,
        & > li {
            list-style-type: none !important;
        }

        & + p {
            padding-bottom: 1em;
        }

        & > li {
            position: relative;
            margin: 1em 0 em -17px;
            padding-left: 17px;

            &:before {
                content: "";
                display: inline-block;
                background-color: $red !important;

                position: absolute;
                width: 4px;
                height: 0.9em;
                top: 0.2em;
                left: 0;
            }
        }  
    }
}