.overview-table {
	h3 {
		display: inline-block;
	}
	
	table {
		table-layout:fixed;
		width: 100%;
	}

	> table,
	> .container >.row > [class*="col-"] > table {
		color: #333;
		font-size: 1em;
	
		> thead > tr > th {
			background: $gray;
			color: #ffffff;
			font-weight: normal !important;
			font-family: $font-family-sans-serif-bold;
			font-size: 0.9em;
			
			&.min {
			    width: 1%;
			    white-space: nowrap;
			}
			&.sortable {
				cursor: pointer;
				white-space: nowrap;
			}
			.sort {
				display: inline-block;
				margin-left: 8px;
					
				div {
					display: block;
					color: $white;
					opacity: 0.25;
					height: 8px;
					overflow: hidden;
	
					i.fa {
						margin: 0;
						padding: 0;
						font-size: .8em;
						display: block;
					}
					&.active {
						opacity: 1;
					}
				}
			}
		}

		> thead > tr > th,
		> tbody > tr > td {
			padding: 17px 20px 15px;
			text-align: left;
			vertical-align: top;
			line-height: 1.75em;
			
			div {
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			
			h2 {
				font-size: 1.20em;
				margin: 0 0 10px;
			}
			h3 {
				font-size: 1em;
				margin: 0;
			}
			&.icons {
				text-align: right;
				white-space: nowrap;
				
				a {
					display: inline-block;
					margin-left: 5px;
					
					&.delete {
						width: 22px;
										
						img {
							margin-top: 2px;
						}
					}
					&.edit {
						width: 23.8px;
					}
				}
			}
			&.vertical-middle{
				vertical-align: middle;
			}
		}
		
		> thead > tr,
		> tbody > tr {
			border-bottom: 1px solid $gray-lightest;
			td:nth-child(1) {
				color: inherit;
			}
			&.no-border {
				border: none;
			}
			&.border-top {
				border-top: 1px solid $gray-lightest;
			}
			&.links {
				background: $gray-ultralight;
				color: $gray-light-worm !important;
			
				a {
					color: $gray-dark;
					text-decoration: none;
					
					&:hover {
						color: $red;
					}
				}
			}
			&.filter {
				.add-entry {
					margin: 0;
				}
			}
			&.clickable {
				cursor: pointer;
			}
			&.clickable:hover,
			&.added {
				background: $gray-ultralightest;
			}
			&.added {
				cursor: default;
				border-left: 1px solid $gray-lightest;
				border-right: 1px solid $gray-lightest;
				.btn {
					display: none;
				}
			}
			&.clickable:hover .btn {
				background: $red_dark;
				border-color: $red_dark;
				color: $white;
			}
			&.spacer {
				height: 30px;
				display: block;
				border: none;
			}
			&.payment {
				border-top: 1px solid $gray-lightest;
				border-left: 1px solid $gray-lightest;
				border-right: 1px solid $gray-lightest;
				border-bottom: 0 !important;
				
				.info {
					padding: 15px 0;
	
					h2 {
						color: $red;
					}
					h3 {
						color: $gray-dark;
					}
				}
				a.logo {
					display: inline-block;
					margin: 0 10px 10px 0 0;
					padding: 10px;
					
					&.selected {
						padding: 9px;
						border: 1px solid $gray-lighter;
						background: $gray-ultralightest;
					}				
					img {
						margin: 0;
						display: block;
						width: 64px;
						height: auto;					
					}
				}
				.price {
					display: block;
					font-size: 1.44em;
					font-family: $font-family-sans-serif-bold;
					white-space: nowrap;
					padding-top: 0.5em;
				}
				.btn {
					padding-top: 20px;
					padding-bottom: 20px;
				}
				&:nth-child(4) {
					border-top: 0;
					td,
					.info {
						padding-top: 0;
					}
				}
			}
			&.result-message {
				border:  none;
				color: $white;
	
				td {
					text-align: center;
					padding: 35px;
					
					h2,h3 {
						color: $white;
					}
				}			
				&.success {
					background: $lime;
				}
				&.pending {
					background: $gray-dark;
				}
				&.failed {
					background: $red;
				}
			}
		}

		.right {
			text-align: right;
		}

		.date {
			color: $gray-dark;
		}
		
        .form {
				.license-plate {
				.country-prefix {
					width: 35%;
				}

				.plate-number {
					width: 65%;
				}
			}
		}
		
		.btn {
			width: 90px;
			padding: 5px 0;
			text-transform: uppercase !important;
			margin: 0;
			line-height: normal;
			font-size: 0.77em;
		}
		
		input[type=checkbox] {
			-webkit-appearance: checkbox;
			display:none;
			width: auto;
		
			& + label
			{
			background: url("/static/assets/svg/checkbox-unchecked.svg") no-repeat;
			height: 15px;
			width: 15px;
			display:inline-block;
			padding: 0px;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
			margin-top: 7px;
			margin-right: 3px;
			}
			&:checked + label
			{
			background: url("/static/assets/svg/checkbox-checked.svg") no-repeat;
			height: 19px;
			width: 19px;
			display:inline-block;
			margin-left: -1px;
			margin-right: 0;
			}
		}
		
		.payment {
			padding: 30px 0;
		}
	
		.add-entry {
			display: inline-block;
			font-family: $font-family-sans-serif-bold;
			font-size: 0.9em;
			margin-left: 2em;
			text-decoration: none;
			text-transform: uppercase;
			color: $gray;
	
			&:hover {
				color: $gray-dark;
			}
		}

		&.light-header {
			> thead > tr {
				border: none;

				> th {
					background-color: transparent;
					color: $gray-dark;
				}
			}

			> thead > tr > th,
			> tbody > tr > td {
				padding-top: 0;
				padding-bottom: 5px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-md-min) {
	.overview-table {
		table.light-header {
			> thead > tr > th,
			> tbody > tr > td {
				padding: 17px 20px 15px;
			}
		}
		td {
			width: 100%;
			border: 0;
		}

		thead {
			display: none; 
		}
		
		tbody {
			td { 
				display: block;
				min-height: 65px;
				
				&.mobile-hide {
					display: none !important;
				}
			}
			
			tr.mobile-hide {
				display: none;
			}
				
			tr.mobile-labels {
				display: block;
				margin: 2em 0;
				border-top: 1px solid $gray-lightest !important;
				border-right: 2px solid $gray-lightest !important;
				border-bottom: 2px solid $gray-lightest !important;
				border-left: 2px solid $gray-lightest !important;
				
				td {
					text-align: right !important;
					border-top: 1px solid $gray-lightest;
					
					&:before {
						content: attr(data-th);
						display: inline-block;
						text-align: left;
						float: left;
						color: $gray !important; 
					}
				}
				
				&:nth-child(1) {
					margin-top: 0;
				}
				
				&.added {
					margin: -2px 0 0 0;
				}
			}
		}
		
		.btn.mobile-full {
			width: 100% !important;
		}
							
		.notice {
			color: $gray;
			line-height: 1.2em;
		}

		.btn ~ .notice {
			margin-top: 0.75em;	
		}
	}
}