// bower:scss
// endbower

/* ==========================================================================
 * Default settings
 * ========================================================================== */

// dimensions
$timetable-hour-column-width: 40px !default;
$timetable-hour-row-height: 40px !default;
$timetable-heading-height: auto !default;

// colors & decoration
$timetable-grid-color: $white !default;
$timetable-grid: 1px solid $timetable-grid-color !default;

$timetable-hour-marker: $gray-lighter;
$timetable-halfhour-marker: $gray-lightest;

$timetable-row-header-padding: 15px !default;
$timetable-row-header-color: #EFEFEF !default;

$timetable-legend-row-separator: 0px solid white !default;
$timetable-entry-row-separator: none !default;
$timetable-row-header-gap: 0px solid transparent !default;
$timetable-row-uneven-color: $white !default;
$timetable-row-even-color: $gray-ultralightest !default;

$timetable-entry-color: $lime !default;
$timetable-entry-color-hover: $lime-dark !default;

$timetable-entry-border: 1px solid $lime-dark !default;
$timetable-entry-padding: 0 !default;

/* ==========================================================================
 * Mixins
 * ========================================================================== */

@mixin valign-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin valign-parent {
  transform-style: preserve-3d;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/* ==========================================================================
 * Timetable
 * ========================================================================== */

.timetable_wrapper {
  margin: 30px 0 0;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid $gray-lightest;
  background: $gray-ultralightest;
}

.timetable {
  box-sizing: border-box;

  @include clearfix;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  aside, section {
    float: left;
  }

  aside {
	font-family: $font-family-sans-serif-bold;
	font-size: 0.65em;  
	
    width: 10%;
    padding: 0 !important;
    margin-top: $timetable-hour-row-height;
    border-right: $timetable-row-header-gap;

    li {
      padding: 0;
      //background-color: $timetable-row-header-color;
      line-height: $timetable-hour-row-height;

      &:not(:last-of-type) {
        //border-bottom: $timetable-legend-row-separator;
      }
    }

    .row-heading {
      @include ellipsis;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  aside li, time li {
    height: $timetable-hour-row-height;
  }

  section {
    width: 90%;
    padding: 0 !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    time {
      white-space: nowrap;
      display: inline-block;
    }

    header {
      height: $timetable-hour-row-height;
      transform-style: preserve-3d;

      @include clearfix;

      font-size: 0;

      li {
        display: inline-block;
        font-size: 1rem;
        overflow: visible;
        width: 0;
        line-height: $timetable-hour-row-height;
        display: inline-block;
        position: relative;

        &:not(:last-of-type) {
          width: $timetable-hour-column-width;
        }

        .time-label {
          display: block;
          position: absolute;
          left: 0;
          color: $gray;
          
          i {
	          font-style: normal;
	          vertical-align: super;
	          font-size: 0.5em;
          }
        }

        &:not(:first-of-type) .time-label {
          transform: translateX(-50%);
        }

        &:last-of-type .time-label {
          transform: translateX(-100%);
        }
      }
    }
  }

  @media #{$timetable-breakpoint} {
    aside {
      width: 10%;
    }

    section {
      width: 90%;
    }
  }

  ul.room-timeline {
    border-left: none;
    position: relative;
    overflow: hidden;

    li {
      position: relative;
      background-color: $timetable-row-even-color;

      &:nth-of-type(odd) {
        background-color: $timetable-row-uneven-color;
      }

      &:first-of-type {
        border-top: $timetable-grid;
      }

      &:last-of-type {
        border-bottom: $timetable-grid;
      }

      &:not(:last-of-type) {
        border-bottom: $timetable-entry-row-separator;
      }

      &:first-child .time-entry {
        height: $timetable-hour-row-height - 2px;
      }

      &:after, &:before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &:before {
        background-image: linear-gradient(to right, $timetable-halfhour-marker 1px, transparent 1px);
        background-size: ($timetable-hour-column-width / 2) auto;
      }

      &:after {
        background-image: linear-gradient(to right, $timetable-grid-color, $timetable-grid-color 1px, $timetable-hour-marker 1px, $timetable-grid-color 2px, $timetable-grid-color 2px, $timetable-grid-color 3px, transparent 3px, transparent);
        background-size: $timetable-hour-column-width auto;
        background-position: (-2px) 0;
      }
    }
  }

  .time-entry {
    background-color: $timetable-entry-color;
    transition: 200ms background-color;
    height: $timetable-hour-row-height - 1px;
    display: block;
    position: absolute;
    z-index: 2;
    padding: 0 $timetable-entry-padding;
    white-space: normal;
    overflow: hidden;
    color: white;
    border: $timetable-entry-border;	
    text-align: center;
    font-size: 0.75em;
	
	small {
	    opacity: 0.75;
		i {
			display: block;
		    line-height: 0.70em;
		    margin-top: -4px;
		}	
	}

    @include valign-parent;

    small {
      @include valign-middle;

      display: block;
    }

    &:hover {
      background-color: $timetable-entry-color-hover;
      
      small {
	      opacity: 1;
      }
    }
  }
}
