.mapinfocta {
    background: $gray-lightest;
    padding-bottom: .35em;

	.mapinfocta-text {
	    margin: 1em;
	}
	
	p {
	    margin: .35em 0;
	}
	
	.mapinfocta-text-address {
	    font-size: 1em;
	    margin-bottom: .75em;
	    padding-bottom: .25em;
	}
	
	.mapinfocta-meta {
	    font-size: .8em;
	    margin-bottom: 1em;
	}
	
	.mapinfocta-meta-icons {
	    margin-left: 1em;
	}
	
	.link-grey {
	    clear: both;
	    display: block;
	}
	
	.btn {
	    margin-bottom: .5em;
	}
}