/* E-Shop flow - Floating box */
.order-summary {
    .summary-line {
        position: relative;
        margin: 1em 0;
        padding-left: 1.5em;

        img {
            position: absolute;
            width: 1em;
            left: 0;
        }
    }
}

.order-overview {
    .overview-line {
        margin: 0.15em 0;
    }
}

/* E-Shop flow - Main box */
.payment-periods {
    .payment-period {
        margin: 15px 0;
    }
}

@media (min-width: $screen-md-min) {
    .payment-periods {
        width: 50%;
        
        .payment-period {
            .period-name,
            .price {
                font-family: $font-family-sans-serif-bold;
            }
        }
    }
}