// Base class
.well { min-height: 20px; padding: 40px; margin-bottom: 30px; background-color: $gray-lighter;border: 1px solid $gray-lighter }

// Sizes
.well-lg { padding: 60px; }
.well-sm { padding: 20px; }
 
.well-dark {background-color: $gray-worm;border: 1px solid$gray-worm }
.well-danger {background-color: $red; border: 1px solid $red}
.well-light {background-color: $gray-ultralight;border: 1px solid $gray-ultralight }
.well-made {background-color: $graybrown-light;border: 1px solid $graybrown-light }
.well-done {background-color: $gray-lighter; border: 1px solid $gray-lighter }

@media (max-width: $screen-xs-max) {
    .well { padding: 30px}
    .well-lg { padding: 30px; }
}