.navbar-qp {
    padding: 20px 0;

    .navbar-header {
        .navbar-brand {
            padding: 0 15px 0 0;
        }
    }

    .navbar-nav {
        li {
            padding: 12px 15px;
            border: none;

            &.user-menu {
                .user-menu-dropdown {
                    li {
                        font-family: $font-family-sans-serif;
                    }
                }
            }
        }
    }

    .main-nav {
        margin-left: -30px;
    }

    .navbar-right {
        li {
            padding: 6px 20px 7px;
        }
    }

    .user-menu {
        .user-menu-dropdown-toggle {
            position: relative;
            color: $gray-dark;

            .user-icon,
            .user-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .user-icon {
                left: 0;
                font-size: 1.222em;
            }

            .user-info {
                margin: 0 23px 0 39px;
                font-size: 0.89em;

                .user-info__name,
                .user-info__role {
                    line-height: 1.125;
                }
            }

            .user-arrow {
                right: 0;
                font-size: 0.25em;
            }

            &:hover {
                color: inherit;
            }
        }

        .user-menu-dropdown {
            width: 325px;
            margin-top: 15px;
            padding: 3px 25px;
            border: 1px solid $gray-worm;
            box-shadow: 1px 4px 7px rgba(0,0,0,0.1);
            text-align: left;

            .user-menu-dropdown__item {
                padding: 22px 0;
                border-bottom: 1px solid $gray-worm;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &.open {
            > a {
                background-color: transparent;
            }
        }
    }

    .search-box {
        padding-right: 0;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 25px;
            background-color: $gray-light-worm;
            transform: translateY(-50%);
        }

        .navbar-form {
            margin: 0;
            padding: 0;

            .search-box__input {
                right: -12px;
                width: 300px;
                padding-right: 48px !important; // Important because of old formelements code that is overridden. Can be removed when cleanup is complete.
                font-family: $font-family-sans-serif;
                visibility: hidden;
            }

            .search-box__button {
                right: 0;
                padding: 0;
                color: $gray-dark;
            }
        }

        &.active {
            .search-box__input {
                visibility: visible;
            }
        }
    }
}

.subnavbar-qp {
    background-color: $gray-lightest;

    .navbar-nav {
        li {
            display: inline-block;
            padding: 12px 20px;
            float: none;
            vertical-align: middle;

            &.language-selector {
                padding: 12px 0;
            }
        }

        > li {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: 20px;
                background-color: $gray-light-worm;
                transform: translateY(-50%);
            }

            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
    }

    .navbar-subnav {
        font-size: 0.938em;

        li {
            display: inline-block;
            padding: 0 5px;

            &:before {
                display: none;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .language-selector {
        .selectboxit-container {
            padding-left: 20px;
        }

        .language-selector-select {
            .selectboxit-text {
                //padding-right: 19px;
                padding-right: 1px;
            }

            .selectboxit-arrow-container {
                right: 0;
                width: 9px;
                margin-top: 13px;

                .selectboxit-arrow {
                    margin: 0;
                    transform: translateY(-50%);
                    opacity: 0.65;
                }
            }
        }

        .selectboxit-options {
            left: 0;
            margin-top: -2px;

            li {
                display: list-item;
                padding: 0;
            }
        }
    }

    .social-links {
        ul {    
            li {
                padding: 0 5px;

                &:first-child {
                    padding-left: 0;
                }
    
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.fixedscroll .subnavbar-qp {
    display: none;
}