//== Margins
// --------------------------------------------------
/* Top */
.margin-top-xs {
    margin-top: $whitespace-xs;
}

.margin-top-sm {
    margin-top: $whitespace-sm;
}

.margin-top-md {
    margin-top: $whitespace-md;
}

.margin-top-lg {
    margin-top: $whitespace-lg;
}

.margin-top-xl {
    margin-top: $whitespace-xl;
}

/* Bottom */
.margin-bottom-xs {
    margin-bottom: $whitespace-xs;
}

.margin-bottom-sm {
    margin-bottom: $whitespace-sm;
}

.margin-bottom-md {
    margin-bottom: $whitespace-md;
}

.margin-bottom-lg {
    margin-bottom: $whitespace-lg;
}

.margin-bottom-xl {
    margin-bottom: $whitespace-xl;
}



//== Margins
// --------------------------------------------------
/* Vertical */
.no-vertical-padding {
    padding-right: 0;
    padding-left: 0;
}

/* Horizontal */
.padding-horizontal-xs {
    padding-top: $whitespace-xs;
    padding-bottom: $whitespace-xs;
}

.padding-horizontal-sm {
    padding-top: $whitespace-sm;
    padding-bottom: $whitespace-sm;
}

.padding-horizontal-md {
    padding-top: $whitespace-md;
    padding-bottom: $whitespace-md;
}

.padding-horizontal-lg {
    padding-top: $whitespace-lg;
    padding-bottom: $whitespace-lg;
}

.padding-horizontal-xl {
    padding-top: $whitespace-xl;
    padding-bottom: $whitespace-xl;
}
