.checkable-element {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
    background-color: white;
    border: 1px solid $gray-light-worm;
    outline: none;
    cursor: pointer;

    .checkable-element__placeholder {
        position: absolute;
        width: 125%;
        height: 125%;
        top: 50%;
        left: 50%;
        background-image: url("/static/assets/svg/check.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        transform: translate(-35%, -70%);
        opacity: 0;
    }

    &.no-bg {
        background-color: transparent;
    }
    
    &.radio {
        height: 1.1em;
        width: 1.1em;
        border-radius: 50%;

        .checkable-element__placeholder {
            width: 110%;
            height: 110%;
        }
    }

    &.align-middle {
        vertical-align: middle;
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;

        &:checked {
            + .checkable-element__placeholder {
                opacity: 1;
            }
        }
    }
}