.service-messages {
    background-color: $black;
    color: $white;

    .service-message {
        border-top: 1px solid $white;

        &:first-child {
            border: none;
        }
    }

    a:hover {
        color: $white;
    }
}