.btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2px;
    padding: 8px 18px;
    font-family: $font-family-sans-serif-bold;
    font-weight: normal;
    text-decoration: none;
    white-space: normal;
    overflow: hidden;

    &:active,
    &.active {
        box-shadow: none;
    }
}

.btn-inactive,
.btn.disabled,
.btn[disabled] {
    @include button-hover-variant(
        $color: $white,
        $background-color: $gray-light-worm,
        $background-color-hover: $gray-light-worm
    );
}

// Default buttons
.btn-success {
    @include button-hover-variant(
        $color: $btn-success-color,
        $background-color: $btn-success-bg,
        $background-color-hover: $lime_dark
    );
}

.btn-info {
    @include button-hover-variant(
        $color: $white,
        $background-color: $gray-dark,
        $background-color-hover: $black
    );
}

.btn-danger {
    @include button-hover-variant(
        $color: $white,
        $background-color: $red,
        $background-color-hover: $red_dark
    );
}

.btn-link {
    margin: 0;
    padding: 0;
    text-decoration: underline;

    @include button-hover-variant(
        $color: $red,
        $background-color: transparent,
        $background-color-hover: transparent,
        $color-hover: $black
    );

    &:focus,
    &.focus {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: none;
    }
    
    &.disabled,
    &[disabled] {
        @include button-hover-variant(
            $color: $gray-light-worm,
            $background-color: transparent,
            $background-color-hover: transparent
        );

        &:hover {
            text-decoration: underline;
        }
    }
}

// Outline buttons
.btn-line {
    &.btn-success {
        @include button-hover-variant(
            $color: $lime,
            $background-color: transparent,
            $border-color: $lime,
            $color-hover: $white,
            $background-color-hover: $lime_dark
        );
    }

    &.btn-info {
        @include button-hover-variant(
            $color: $gray-dark,
            $background-color: transparent,
            $border-color: $gray-dark,
            $color-hover: $white,
            $background-color-hover: $black
        );
    }

    &.btn-danger {
        @include button-hover-variant(
            $color: $red,
            $background-color: transparent,
            $border-color: $red,
            $color-hover: $white,
            $background-color-hover: $red_dark
        );
    }

    &.double {
        border-width: 2px;
        text-transform: uppercase;
    }

    &.small {
        width: auto;
        padding: 2px 10px;
        font-family: $font-family-sans-serif;
        font-size: 0.72em;
        text-transform: uppercase;

        &.double {
            border-width: 1px;
        }
    }
}

// Underline buttons
.btn-underline {
    padding: 8px 0 4px;

    .line-placeholder {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
    }

    &.btn-success {
        @include button-hover-variant(
            $color: $lime,
            $background-color: transparent,
            $border-color: transparent,
            $color-hover: $lime_dark,
            $background-color-hover: transparent
        );

        .line-placeholder {
            border-bottom-color: $lime;
        }
        
        &:hover {
            .line-placeholder {
                border-bottom-color: $lime_dark;
            }
        }
    }

    &.btn-info {
        @include button-hover-variant(
            $color: $gray-dark,
            $background-color: transparent,
            $border-color: transparent,
            $color-hover: $black,
            $background-color-hover: transparent
        );

        .line-placeholder {
            border-bottom-color: $gray-dark;
        }
        
        &:hover {
            .line-placeholder {
                border-bottom-color: $black;
            }
        }
    }

    &.btn-danger {
        @include button-hover-variant(
            $color: $red,
            $background-color: transparent,
            $border-color: transparent,
            $color-hover: $red_dark,
            $background-color-hover: transparent
        );

        .line-placeholder {
            border-bottom-color: $red;
        }
        
        &:hover {
            .line-placeholder {
                border-bottom-color: $red_dark;
            }
        }
    }

    &.double {
        .line-placeholder {
            border-bottom-width: 2px;
        }
    }
}

// Dark background
.card-hero,
.gradient-bg {
    .btn-link {
        &:hover {
            color: $white;
        }

        &.disabled,
        &[disabled] {
            &:hover {
                color: $gray-light-worm;
            }
        }
    }

    .btn-underline {
        &.btn-info {
            &:hover {
                color: $white;

                .line-placeholder {
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.btn-half {
    display: inline-block;

    &.mobile-half {
        width: 50%;
    }
}

@media(min-width: $screen-sm-min) {
    .btn {
        width: auto;
    }
        
    .btn-half {
        width: 50%;
    }

    .btn-full {
        width: 100%;
    }
}