.smallnewslist__item {display:flex; }
.smallnewslist__item__thumb { margin-right: 30px; width: 200px;  flex-shrink: 0;}
.smallnewslist__item[onClick^="window.location"] { cursor: pointer;
    &:hover {
        .h4 { text-decoration: underline; }
        /*.smallnewslist__item__thumb { opacity: 1; filter: grayscale(0.3); }*/
    }
}
 
@media (min-width: $screen-lg-min) {
   .smallnewslist__item__thumb { width: 300px; }
}
@media (max-width: $screen-xs-min) {
   .smallnewslist__item__thumb { width: 110px;margin-right:15px; }
}
