.breadcrumbs {
	display: inline-block;
	background: 0 0;
	color: $gray-dark;
	padding: 5px 0;
	margin-bottom: 2.5em;
	border-bottom: 1px solid $gray-lightest;
	font-size: 0.9em;

	ol,
	ol li {
		display: inline;
		padding-left: 0;
	}
	
	ol li :not(:first-child):before {
		color: $gray-light-worm;
		content: "/";
		font-size: .8em;
		padding: 0 .5rem;
		vertical-align: middle;
	}
	
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.row.bread {
		display: none;
	}
}