.inpagenav {
	ul {
	    list-style: none;
	    margin-bottom: 2em;
	    padding-left: 0;
	    padding-bottom: .8em;
	    border-bottom: 1px solid $gray-lightest;
	    
	    li {
		    padding: .25em 1em .25em 0;
		    display: inline;

		    @media (max-width: 795px) {
		        padding: .25em 1.5em .25em 0;
		    }
		    
		     a {
			    color: $gray-light-worm;
			    font-size: .9em;
			    font-family: $font-family-sans-serif;
			    padding: 1em 0;
			    text-decoration: none;
			    
			    span {
				    background: $white;
				}
				&.is-active {
				    border-bottom: 3px solid $red;
				    color: $red;
				    font-family: $font-family-sans-serif-bold;
				}
				&:hover {
				    color: $red;
				}
			}
		}
	}
}