form { margin: 0; }
.form-control:focus { box-shadow:none !important;}
.form-group:not(.form-group--boxed) .form-control { padding-left: 0; padding-right: 0; border-left: 0 none; border-right: 0 none; border-top: 1px solid transparent; box-shadow: none;}
.form-group.form-group--nobottomborder .form-control { border-bottom: 1px solid transparent;}

.selectwrapper { position: relative;display:block;
    &:after { position: absolute; pointer-events: none; right: 10px; top: 50%; margin-top: -12px; color: currentColor; height: 24px; width: 24px; line-height: 24px; font-family: "FontAwesome"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-align: center; font-size: 20px; z-index: 4; content:"\f107"; }
    select {  /* autoprefixer: off */ padding-right: 40px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
    select::-ms-expand { /* autoprefixer: off */  display: none;}
    option {  padding: 7px 14px; background: $white }
}

.form-group.has-error .selectwrapper:after { color: $red;}
 
.form-group:not(.form-group--boxed) .selectwrapper:after { right: -2px; }
.form-group:not(.form-group--boxed) select.form-control { padding-right: 20px;}
.form-group-lg select.form-control, .form-group-sm select.form-control { padding-right: 40px;}

select:focus, input:focus, textarea:focus { background: $white}


/**************************************
	NEW DESIGN - NOT YET VISIBLE
**************************************/
.myqp-new {
    .form {
        // Clear custom CSS defined above. Can be removed when new design is accepted.
        .form-group:not(.form-group--boxed) {
            .form-control {
                padding: .5rem .75rem;
                border: 1px solid $gray-light-worm;
                box-shadow: none;
            }
        }
        // End clear custom CSS

        h3 {
            margin-bottom: 1.25em;
        }

        .form-group {
            margin-bottom: 25px;

            label,
            .no-edit {
                font-weight: normal;
                padding-top: 10px;
            }

            .form-control {
	            padding: 5px 12px !important;
                border: 1px solid $gray-light-worm !important;
                color: $black;
                background: $white;
                
                -webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
            }

            .inline-form-controls {
                .form-control {
                    display: inline-block;
                    width: 45%;
                    margin-right: 5px;
                }
            }
            
            .no-edit {
	            color: $gray-dark;
	            display: inline-block;
            }

            .extra-info {
                display: block;
                padding-top: 10px;
                text-align: center;
            }
            
            .managers .item {
	            margin-top: 1em;
	            color: $gray-dark;
	            
	            .name {
		            color: $black;
		            font-family: $font-family-sans-serif-bold;
	            }
	            
	            .title {
			    	color: $red;
		        }
				
				.tel,
		        .email {
			    	display: block;
			    	
			    	a {
				    	color: $gray-dark;
			    	}
		        }
            }
        }

        .license-plate {
            .country-prefix {
                float: left;
                width: 25%;
                position: relative;
                z-index: 0;
            }

            .plate-number {
                float: left;
                width: 75%;
                margin-left: -1px;
                position: relative;
                z-index: 1;
            }
        }

        .license-plate-switch {
            margin-top: 25px;
        }

        .datepicker {
            position: relative;

            > input {
                padding-right: 45px !important;
            }

            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                
                height: $icon-field-svg-height;
                width: $icon-field-svg-height;

                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                    
                background-repeat: no-repeat;
                background-image: url("/static/assets/svg/icon_date.svg");
     
                pointer-events: none;

            }
        }

        .required {
            color: $red;
        }

        .infotext {
            font-size: 0.889em;
            color: $gray;
        }
        
        .error {
            .form-control {
                border-color: $red !important;
            }
        }

        .hide-activated {
            &.toggle--activated {
                display: none;
            }

            &.toggle--deactivated {
                display: block;
            }
        }

        .hide-deactivated {
            &.toggle--activated {
                display: block;
            }

            &.toggle--deactivated {
                display: none;
            }
        }
    }

    .form-save {
        margin-top: 25px;
		
        .cancel,
        .delete {
            display: inline-block;
        }

        .delete {
            text-decoration: none;

            .icon {
                display: inline-block;
                width: 10px;
                margin-left: 5px;
            }

            &:hover,
            &:focus {
                .icon svg line {
                    stroke: $black;
                }
            }
        }

        button {
            + .cancel,
            + .delete {
                margin-top: 20px;
            }
        }
    }

    .no-results {
        margin-top: 1em;
    }

    .gradient-bg {
        .form {
            .form-group .form-control {
                border-color: $white !important;
                background-color: transparent;
                color: $white;
            }

            .infotext {
                color: $white;
            }
        }

        .form-save {
            a {
                color: $white;
            }
        }
    }

    .overlay {
        .form {
            .license-plate .country-prefix {
                z-index: inherit;
            }
        }
    }

	.cancel,
   	.delete {
            margin-top: 0;
            margin-left: 8px;
    }

    @media(min-width: $screen-sm-min) {
	   .cancel,
       .delete {
                margin-left: 20px;
        }
    }

    @media(min-width: $screen-lg-min) {
        .form {
            .hour-input {
                font-size: 0.9em;
            }
        }
    }
}