.card-v2,
.card-v2--small,
.card--big,
.card--hero,
.card--hero--small {
    position: relative;
}

.card-v2,
.card-v2--small,
.card--big {
    display: block;
    margin-bottom: 1.667em;
    background-color: $gray-ultralightest;
    color: $black;    
    text-decoration: none;

    .card__image {
        position: relative;
        width: 100%;
    }
    
    .card__banner {
        display: inline-block;
        margin: 15px 0;
        padding: 0.25em 0.75em;
        background-color: $lime;
        color: $white;
    }

    .card__image + .card__banner {
        position: absolute;
        top: 0;
        left: 0;
    }

    .card__header {
        .card__title,
        .card__subtitle,
        .card__description {
            display: block;
        }

        .card__title,
        .card__subtitle {
            font-family: $font-family-sans-serif-bold;
        }

        .card__title {
            font-size: 1.2em;
        }

        .card__subtitle {
            color: $red;
        }
    }

    &.no-bg {
        background-color: transparent;
    }
}

.card-v2 {
    .card__image {
        height: 235px;
    }

    .card__inner {
        padding: 25px;

        &.no-padding {
            padding: 0;
        }
    }

    .card__body {
        font-size: 1em;
    }

    &.no-bg {
        .card__inner {
            padding: 10px 0;
        }
    }
}

.card-v2--small {
    .card__image {
        height: 185px;
    }

    .card__wrapper {
        padding: 10px 15px;

        .card__body.max-height {
            max-height: calc(1em * #{$line-height-base} * 3);
            overflow-y: hidden;
        }
    }
    
    &:hover {
        background-color: $gray-ultralight;
    }

    &.no-bg {
        .card__wrapper {
            padding: 10px 0;
        }

        &:hover {
            background-color: transparent;
        }
    }
}

.card--extra-small {
    margin-bottom: 1.667em;

    .card__header {
        font-family: $font-family-sans-serif-bold;

        .card__title {
            font-size: 1.333em;
        }
    }
    
    .card__body {
        margin-top: 30px;

        &.max-height {
            max-height: calc(1em * #{$line-height-base} * 5);
            overflow-y: hidden;
        }
    }

    .card__footer {
        margin-top: 20px;
    }
}

.card--big {
    margin-bottom: 60px;

    .card__image {
        height: 195px;
    }

    .card__wrapper {
        padding: 15px;

        .card__title {
            font-size: 1.4em;
        }

        .card__body,
        .card__footer {
            margin-top: 15px;
        }

        .card__body {            
            font-size: 1.111em;

            &.max-height {
                max-height: calc(1em * #{$line-height-base} * 3);
                overflow-y: hidden;
            }
        }
    }
}

/* @media (min-width: $screen-sm-min) {
    .card-grid,
    .parking-facility-results,
    .poi-results,
    .side-by-side-cards,
    .three-column-cards {
        // Align buttons
        > .container > .card-container {
            margin: 0 -15px;
            -webkit-flex-wrap: wrap !important;
            //flex-wrap: wrap;

            > .card-placeholder {
                //display: flex;
                padding: 0 15px;
                -webkit-flex: 0 0 50%;
                flex-basis: 50%;

                .card-v2,
                .card-v2--small,
                .card--big,
                .card--image--small,
                .card--extra-small,
                .card__wrapper,
                .card__wrapper .card__inner {
                    //display: flex;
                    //flex-direction: column;
                }

                .card-v2,
                .card-v2--small,
                .card--big,
                .card--image--small,
                .card--extra-small,
                .card__wrapper,
                .card__wrapper .card__inner, 
                .card__wrapper .card__body {
                   //flex-grow: 1;
                    
                    &.no-grow {
                        //flex-grow: 0;
                    }
                }
            }
        }

        .card--big {
            margin-bottom: 60px;
        }

        .flex-container > .flex-item:last-child .card--big {
            margin-bottom: 0;
        }
    }

    .card-grid .card-container .card-placeholder {
        width: 50%;
    }
}

@media (min-width: $screen-md-min) {
    .side-by-side-cards {
        .card-container {
            .card-placeholder {
                width: 50%;
            }
        }
    }

    .card-grid,
    .three-column-cards {
        .card-container .card-placeholder {
            width: 33.33333%;
        }
    }
} */

.card--hero,
.card--hero--small {
    .card__wrapper {
        color: $white;
        margin: 40px 25px 40px;
    
        .card__title {
            font-family: $font-family-sans-serif-bold;
            font-size: 1.778em;
        }
    
        .card__body {
            margin-top: 0;
            font-size: 1.222em;
        }

        .card__body.max-height {
            overflow-y: hidden;
        }
    
        .card__footer {
            margin-top: 36px;
            text-align: center;
        }
    }
}

.card--hero {
    .card__wrapper {
        .card__body.max-height {
            height: calc(1em * #{$line-height-base} * 6);
        }
    }
}

.card--hero--small {
    .card__wrapper {
        .card__body.max-height {
            height: calc(1em * #{$line-height-base} * 8);
        }
    }
}

.card-list {
    margin: 0 -15px;
}

@media (min-width: $screen-md-min) {
    .card-v2--small {
        .card__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }

        .card__wrapper {
            padding: 25px;
        }
        
        .card__image + .card__wrapper {
            margin-left: 50%;

            .card__inner {
                margin-left: 15px;
            }
        }
        
        .card__title {
            margin-bottom: 10px;
        }

        &.image-right {
            .card__image {
                right: 0;
                left: auto;
            }

            .card__image + .card__wrapper {
                margin-right: 50%;
                margin-left: 0;
                
                .card__inner {
                    margin-right: 15px;
                    margin-left: 0;
                }
            }
        }

        &.no-bg {
            .card__wrapper {
                padding: 0 15px;
            }
        }

        &.min-height {
            min-height: 175px;
        }
    }

    .card--extra-small {
        margin-bottom: 0;
    }

    .card--big {
        margin-bottom: 0;

        .card__image {
            height: 300px;
        }

        .card__wrapper {
            padding: 20px 30px 30px;

            .card__body,
            .card__footer {
                margin-top: 25px;
            }

            .card__body {
                font-size: 1em;
            }
        }
    }

    .card--hero,
    .card--hero--small {
        .card__wrapper {
            .card__title {
                font-size: 2.222em;
            }

            .card__body {
                margin-top: 20px;
            }

            .card__footer {
                margin-top: 10px;
                text-align: left;
            }
        }
    }
    
    .card--hero {
        .card__wrapper {
            margin: 40px 65px 40px 0;
        }        
            
        &.bg-gradient-right {
            .card__wrapper {
                margin: 40px 0 40px 65px;
            }
        }
    }
    
    .card--hero--small {
        .card__wrapper {
            margin: 75px 65px 75px 0;
        }        
            
        &.bg-gradient-right {
            .card__wrapper {
                margin: 75px 0 75px 65px;
            }
        }
    }

    .side-by-side-cards .card--big {
        margin-bottom: 0;
    }

    .card-list {
        margin: 0;
    }
}