.qp-header {
    position: relative;

    .navbar-qp {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
        padding-top: 4px;

        .navbar-header {
            .navbar-toggle {
                margin-top: 27px;
                margin-bottom: 27px;
                
                & + .navbar-toggle {
                    margin-right: 0;
                }

                &.collapsing {
                    height: auto;
                }

                .icon-bar {
                    background-color: $gray-dark;
                    height: 3px;
                }

                &:not(.collapsed) {
                    .icon-bar {
                        background-color: $red;

                        &:nth-child(2) {
                            height: 4px;
                            transform: rotate(45deg) translate(5px, 5px);
                        }
                        
                        &:nth-child(3) {
                            opacity: 0;
                        }
                        
                        &:nth-child(4) {
                            height: 4px;
                            transform: rotate(-45deg) translate(5px, -6px);
                        }
                    }
                }
            }

            .navbar-brand {
                padding: 20px 15px;
                height: auto;
            }
        }

        .navbar-collapse {
            border-color: $gray-worm;
            
            &.collapsing {
                height: auto;
            }

            .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;

                li {
                    border-bottom: 1px solid $gray-worm;

                    > a {
                        padding: 15px;
                        font-family: $font-family-sans-serif-bold;
                        color: $black;
                        text-decoration: none;

                        &:focus {
                            background-color: transparent;
                        }

                        &:hover {
                            background-color: transparent;
                            color: $red;
                        }
                    }

                    &.user-menu {
                        border-bottom: none;

                        > a,
                        ul > li > a {
                            font-family: $font-family-sans-serif;
                        }
                                    
                        ul {
                            list-style-type: none;

                            > li > a {
                                display: block;
                                position: relative;
                            }
                        }
                        
                        .user-menu-dropdown-toggle {
                            padding: 0;

                            &:hover {
                                color: unset;
                            }
                        }
                    }

                    &.active {
                        > a {
                            color: $red;
                        }
                    }
                }
            }
        }

        .user-menu {
            &.open > a {
                background-color: transparent;
            }

            .user-icon,
            .user-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .user-icon {
                left: 0;
                font-size: 1.45em;
            }

            .user-info {
                margin: 0 15px 0 38px;
                max-width: 140px;
                font-size: 0.89em;

                &__name,
                &__role {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .user-arrow {
                right: 0;
                font-size: 0.25em;
            }

            .user-menu-dropdown {
                padding: 0;
                border: none;
                border-top: 1px solid $gray-worm;
                border-bottom: 1px solid $gray-worm;
                box-shadow: none;
                text-align: center;

                .user-menu-dropdown__item {
                    border-bottom: 1px solid $gray-worm;

                    &:last-child {
                        border-bottom: none;
                    }

                    .user-menu-dropdown__icon {
                        display: none;
                    }
                }                
            }
        }

        .language-selector-wrapper {
            margin: 0;
            padding: $whitespace-xs 0;

            .language-selector {
                &.text-uppercase + ul {
                    text-transform: uppercase;
                    
                    > li > a {
                        font-family: $font-family-sans-serif;
                    }
                }
            }
        }

        .search-box {
            position: relative;
            padding: $whitespace-xs 0;

            .search-box__button {
                position: absolute;
                top: 50%;
                right: 7px;
                background: transparent;
                border: none;
                transform: translateY(-50%);
            }
        }
    }

    .qp-header__line,
    &:after {
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 0;
    }
    
    .qp-header__line {
        right: calc(100% - 30px); // Compensate for gutter
        background-color: $black;
        z-index: 1;
    }

    &:after {
        content: " ";
        background-color: $red;
    }
}

@media (min-width: $screen-md-min) {
    .qp-header {
        .navbar-qp {
            padding-top: 44px;
            padding-bottom: 40px;

            .navbar-header {
                .navbar-brand {
                    margin: 0;
                    padding: 0;
                }
            }
                
            .navbar-collapse {
                margin: 0 0 0 -30px;
                padding: 0;
                border: none;

                .navbar-nav {
                    margin: 0;

                    li {
                        border-bottom: none;

                        > a {
                            padding: 11px 15px 12px;
                        }
                    }

                    &.navbar-right {
                        li > a {
                        //.language-selector-wrapper .selectboxit-text {
                            color: $gray-dark;
                        }

                        li.active a,
                        li > a:hover {
                            color: $red;
                        }
                    }
                }
            }
            
            .user-menu {
                padding: 0 15px;
                text-align: left;

                .user-menu-dropdown {
                    margin-top: 5px;
                    padding: 5px 10px;
                    border: 1px solid $gray-worm;
                    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.1);
                    text-align: left;

                    .user-menu-dropdown__item {
                        a {
                            padding-left: 42px;
                        }

                        .user-menu-dropdown__icon {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            width: 20px;
                            height: 20px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            transform: translateY(-50%);
        
                            &.account {
                                background-image: url("/static/assets/svg/font/navpopup-account.svg");
                            }
        
                            &.financial {
                                background-image: url("/static/assets/svg/font/navpopup-financial.svg");
                            }
        
                            &.credentials {
                                background-image: url("/static/assets/svg/font/navpopup-credentials.svg");
                            }
        
                            &.switch {
                                background-image: url("/static/assets/svg/font/navpopup-switch.svg");
                            }
        
                            &.logout {
                                background-image: url("/static/assets/svg/font/navpopup-logout.svg");
                            }
                        }
                    }
                }
            }

            .language-selector-wrapper,
            .selectboxit-container span,
            .search .fa {
                line-height: 25px;
            }

            .language-selector-wrapper {
                margin: 8px 15px;
                margin: 11px 0 12px;
                padding: 10px 15px;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                border-left: 1px solid $gray-light-worm;

                .language-selector {
                    padding: 0 !important;
                    border: none !important;
                    font-family: $font-family-sans-serif;

                    .selectboxit-text {
                        margin: 0;
                        padding-right: 30px;
                        min-height: 0;
                    }

                    .selectboxit-arrow-container {
                        width: 9px;
                        margin-top: 13px;

                        i {
                            margin: 0;
                            transform: translateY(-50%);
                        }
                    }
                }

                .selectboxit-options {
                    margin-left: -16px;
                    min-width: 68px !important;
                }
            }
            
            .search-box {
                padding: 11px 0 12px;

                .search-box__input {
                    visibility: hidden;
                    position: absolute;
                    width: 300px;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }

                .search-box__button {
                    position: relative;
                    top: auto;
                    right: auto;
                    margin: 0 7px;
                    //padding: 11px 6px 12px;
                    transform: none;
                }

                &.active {
                    .search-box__input {
                        visibility: visible;
                    }
                }
            }
        }

        .qp-header__line {
            right: calc(100% - 15px); // Compensate for gutter
        }
    }
}