.qp-footer {
    padding: 15px 0 40px;
    background-color: $black;
    color: $white;
    text-align: center;

    .footer-wrapper {
        .qp-doormat {
            .qp-doormat__category {
                margin: 20px 0;
            }
        }

        .qp-logo {
            margin: 20px 0 0;

            .qp-tagline {
                margin-left: 10px;
                font-size: 1.111em;
            }
        }

        .qp-disclaimer {
            margin: 40px 0 0;
            font-size: 0.889em;

            .qp-copyright {
                color: $gray;
            }

            ul {
                li {
                    a {
                        color: $gray-light-worm;
                        
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    
    .environment-info {
        font-size: 0.75em;
        color: $white;

        span {
            &:after {
                content: " ";
                display: block;
            }

            &:last-child:after {
                display: none;
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .qp-footer {
        .footer-wrapper {
            .qp-disclaimer {
                ul {
                    li {
                        display: inline-block;

                        &:after {
                            content: " - ";
                        }

                        &:last-child:after {
                            display: none;
                        }
                    }
                }
            }
        }
        
        .environment-info {            
            span {
                &:after {
                    content: " | ";
                    display: inline;
                }
    
                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .qp-footer {
        padding: 45px 0 35px;
        text-align: initial;

        .footer-wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .qp-doormat {
                .qp-doormat__category {
                    margin: 0;
                }
            }
    
            .qp-logo,
            .qp-disclaimer {
                text-align: right;
            }
    
            .qp-logo {
                margin-top: 0;
            }
    
            .qp-disclaimer {
                margin: 35px 0 0;
            }
        }
    }
}