.selectboxit-container {
	width: 100%;
	
	*,
	*:hover {
		font-size: 1em;
		border-radius: 0;
	}

	select {
		max-width: 100% !important;
	}
	
	.selectboxit {
		border-radius: 0;
		border: 1px solid $gray-light-worm !important;
		width: auto !important;
		background: $white;
		width: inherit;
		padding: 5px 12px !important;
		text-indent: 0;
		
		&:hover,
		&.selectboxit-focus {
			//background: $gray-ultralightest;
		}
	}
	
	span {
		height: auto;
		line-height: 31px;
	}
	
	.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
		top: 50%;
		margin-top: -2px;
		margin-right: 8px;
		border-top-color: #000000;
	}
	
	.selectboxit-optgroup-header {
		font-family: $font-family-sans-serif;
		font-size: 0.9em;
		line-height: 30px !important;
		padding: 5px 7px !important;
		background: $gray-lightest;
		min-height: 31px;
		border-left: 1px solid $gray-light-worm !important;
		border-right: 1px solid $gray-light-worm !important;
	}
	
	.selectboxit-text {
		font-family: $font-family-sans-serif;
		color: #000000;
		padding-right: 16px;
		margin-top: 1px;
		text-indent: 0;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		min-height: 31px;
		max-width: 100% !important;
	}
	
	.selectboxit .selectboxit-option-icon-container {
		margin-left: 0;
	}
	
	.selectboxit-arrow-container {
		right: 6px;
		margin-top: 15px;
		
		i {
			height: 5px;
			width: 9px;
			border: 0;
			background: url("/static/assets/svg/icon_arrowdown.svg") no-repeat;
		}
	}
	.selectboxit-options {
		border-radius: 0 !important;
		background-color: #fff !important;
		border: none !important;
		width: 100% !important;
		min-width: 0 !important;
		z-index: 9999 !important;
	}
	
	.selectboxit-option {
		background: #ffffff;
		float: none;
		display: list-item;
		border: 1px solid $gray-light-worm !important;
		margin-top: -1px;
		line-height: 30px !important;
		text-indent: 0;
	}
	
	.selectboxit-container span,
	.selectboxit-container .selectboxit-options a {
		height: auto !important;
		clear: both;
	}

	.selectboxit-list > .selectboxit-option > .selectboxit-option-anchor,
	.selectboxit-list > .selectboxit-option > .selectboxit-option-anchor:hover,
	.selectboxit-list > .selectboxit-option > .selectboxit-option-anchor:active,
	.selectboxit-list > .selectboxit-option > .selectboxit-option-anchor:focus {
		font-family: $font-family-sans-serif;	
		color: $black;
		text-decoration: none;
		line-height: 30px !important;
		padding: 5px 12px 1.83em !important;
		overflow: visible;
	}
	
	.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor,
	.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor:hover,
	.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor:active,
	.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor:focus {
		background-color: $gray-ultralightest;
		background-image: none;
		line-height: 30px !important;
		color: $black !important;
		text-decoration: none;
	}
	
	.selectboxit-list > .selectboxit-optgroup-option.selectboxit-option > .selectboxit-option-anchor {
		padding: 5px 12px 1.83em 30px !important;
	}

	.selectboxit.big {
		&,
		&.form-control,
		 {
			font-size: 1.222em;
		}

		&,
		&.form-control {
			padding: 20px !important;
		}
	}
}

.gradient-bg {
	.selectboxit-text {
		color: $white;
	}

	.selectboxit-arrow-container i {
		background: url("/static/assets/svg/icon_arrowdown-white.svg") no-repeat;
	}
}