.amountboxes {
	.due {
		padding: 10px 15px;
		border: 1px solid $gray-light-worm;
		text-align: center;
		
		.info {
			color: $gray-dark;
		}
		.amount {
			font-size: 1.75em;
			font-family: $font-family-sans-serif-bold;
		}
		&.expired .info,
		&.expired .amount {
			color: $red;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.amountboxes {
		.due {
			padding: 10px 10px;
			font-size: 0.75em;
		}
	}
}