.promo {
    display: block;
    position: relative;
    background-color: $gray-ultralightest;
    color: $black;

    .img-bg {
        width: 100%;
    }

    .promo-title {
        font-family: $font-family-sans-serif-bold;
    }

    .promo-body {
        font-size: 1.111em;
    }
}

.promos-side-by-side {
    .promo {
        margin-bottom: 60px;        

        .img-bg {
            height: 195px;
        }

        .promo-wrapper {
            padding: 15px;

            .promo-title {
                font-size: 1.667em;
            }

            .promo-body,
            .promo-button {
                margin-top: 15px;
            }
        }
    }

    .row > div:last-child .promo {
        margin-bottom: 0;
    }
}

// Small list of three promos
.promo-list {
    margin: 0 -15px;

    .promo {
        margin-bottom: 30px;

        &:hover {
            background-color: $gray-ultralight;
        }

        .img-bg {
            height: 185px;
        }

        .promo-wrapper {
            padding: 10px 15px;

            .promo-title {
                font-size: 1.444em;
            }

            .promo-body {
                max-height: calc(1em * #{$line-height-base} * 3);
                overflow-y: hidden;
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .promos-side-by-side {
        .promo {
            .img-bg {
                height: 305px;
            }

            .promo-wrapper {
                padding: 20px 30px 30px;
                
                .promo-body,
                .promo-button {
                    margin-top: 25px;
                }

                .promo-body {
                    font-size: 1.444em;
                }
            }
        }
    }

    .promo-list {
        margin: 0;

        .promo {
            .img-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
            }

            .promo-wrapper {
                padding: 25px;

                .promo-inner {
                    margin-left: 15px;

                    .promo-title {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
