.resultsFilter {
    padding: 1.5em 2em 1em;
    background: $gray-lightest;
    position: relative;

	.togglehide {
	    position: absolute;
	    top: 1em;
	    right: 1em;
	    font-size: 1.5em;
	}
	
	h3 {
	    margin-bottom: .75em;
	}
	
	form label {
	    font-weight: normal !important;
	    padding-left: 10px;
	    margin-right: 25px;
	    margin-bottom: 1em;
	    
	    .fa {
		    margin-right: 5px;
		}
		
		a#clearrefinement {
		    margin-top: .25em;
		    display: block;
		    color: $gray-dark;
		}
		
		.inline-block {
		    display: block;
		}
	}
	
}