.corner-ribbon {
	font-family: $font-family-sans-serif-bold;
    width: 100%;
    position: relative;
    background: #8bb611;
    color: #f0f0f0;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-sm-min) {
        width: 200px;
        position: absolute;
        z-index: 99999;

        &.sticky {
            position: fixed;
        }

        &.top-left {
            top: 25px;
            bottom: auto;
            left: -50px;
            right: auto;
            transform: rotate(-45deg);
        }
    }
}
