// page-overlay can be removed when new online sales flow is redesigned.
.page-overlay {
    background:rgba(0, 0, 0, .5);
    bottom:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:0;
    width:100%;
    z-index:1000;

    .page-overlay-inner {
        text-align:center;

        > * {
            margin-bottom:1.5em;
            margin-top:1.5em;
        }

        * {
            text-align:left;
        }
    }
}
  
@media (min-width: $screen-sm-min) {
    .page-overlay {
        bottom:auto;
        height:100%;
        position:fixed;

        .page-overlay__outer {
            display:table;
            height:100%;
            width:100%;

            .page-overlay__inner {
                display:table-cell;
                overflow:auto;
                text-align:center;
                vertical-align:middle;

                > * {
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }
    }
}
/* Dialog
----------------------------------------*/

.dialog {
    background: $white;
    display:inline-block;
    max-width:90%;
    position:relative;
    text-align:left;

    /* VH units aren't supported well, so this will have to do for now... */

    .dialog__inner {
        max-height:15em;
        overflow:auto;

        .box {
            display: block;
            position: relative;
        }

        .box__inner {
            padding: 1.5em;
        }

        @media (min-height:30em){ /* 480 */
            max-height:20em;
        }

        @media (min-height:48em){ /* 768 */
            max-height:30em;
        }

        @media (min-height:64em){ /* 1024 */
            max-height:48em;
        }

    }

    @media (min-height: $screen-md-min){
        max-width:80%;
    }

    @media (min-height: $screen-md-min){
        max-width:60%;
    }

    .dialog__close {
        background-color: $black;
        border-width:0;
        color: $white;
        direction:ltr;
        display:block;
        line-height:1;
        margin-top:-1.25em;
        margin-right:-1.25em;
        overflow:hidden;
        padding:.75em;
        position:absolute;
        right:0;
        top:0;

        span {
            height:0;
            overflow:hidden;
            position:absolute;
            width:0;
        }

        &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f00d";
        }
    }

    > * {
        margin-left:auto;
        margin-right:auto;
        position:relative;
    }
}







.overlay {
    z-index: 2000;

    .modal-dialog {
        width: auto;
        margin: 0;

        .modal-content {
            background-color: transparent;
            box-shadow: none;

            .modal-header,
            .modal-body,
            .modal-footer {
                padding: 15px 0;
            }

            .modal-header,
            .modal-footer {
                border: none;
            }

            .modal-close {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 30px;
                text-decoration: none;
                z-index: 2010;
            }

            .modal-header {
                margin-right: 35px;
            }
        }
    }
    
    &.gradient-bg {
        background-color: rgba(0, 0, 0, 0.9);

        &,
        & .modal-close,
        & .modal-title {
            color: $white;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .overlay .modal-dialog .modal-content {
        padding: 100px 0;
        
        .modal-close {
            top: 65px;
            right: 65px;
        }
    }
}

@media (min-width: $screen-md-min) {
    .overlay .modal-dialog .modal-content {
        padding: 200px 0;
    }
}
