.card-v3,
.card--horizontal,
.card--horizontal-small {
    margin-bottom: 1em;
    color: $gray-dark;

    .card__image {
        overflow: hidden;

        .img-bg {    
            transition: transform 1s;
        }
    }

    .card__inner {
        padding: 1em;
        
        .card__header {
            color: $black;

            .card__title {
                margin-bottom: 0;

                .subtitle,
                strong {
                    display: block;
                    width: 100%;
                }
            }
        }

        a {
            .card__header {    
                &:hover {
                    color: $gray-dark;
                }
            }
        }
    }

    &:hover {
        .card__image {
            .img-bg {
                transform: scale(1.1);
            }
        }
    }
}

.card-v3,
.card--horizontal {
    background-color: $gray-ultralightest;
    
    .card__inner {
        .card__body,
        .card__footer {
            margin-top: 0.5em;
            font-size: 1.111em;
        }

        .btn {
            width: auto;
            margin-bottom: 0;
            padding-top: 0;
        }
    }

    &:hover {
        background-color: $gray-ultralight;
    }
}

.card--horizontal,
.card--horizontal-small {
    .display-flex {
        align-items: center;
    }

    .card__image,
    .card__inner {
        flex: 0 0 auto;
    }

    &:hover {
        .card__inner {
            .card__body {
                color: $gray-dark;
            }
        }
    }
}

.card-v3 {
    .card__inner {
        .card__footer {
            a {
                &:hover {
                    .btn-underline {
                        &.btn-success {
                            color: $lime-dark;
                            
                            .line-placeholder {
                                border-bottom-color: $lime-dark;
                            }
                        }
                    }
                }
            }
        }
    }

    &.no-bg {
        background-color: transparent;

        .card__inner {
            padding: 0;

            .card__header {
                margin-top: 0.6em;
            }
        }
    }
}

.card--horizontal {
    .display-flex {
        flex-direction: column;
    }

    .card__image,
    .card__inner {
        width: 100%;
    }

    .card__inner {
        padding: 1em 30px;

        .card__body {
            @include max-lines(2, $line-height-base);
        }
    }
}

.card--horizontal-small {
    background-color: $white;

    .card__image {
        width: 100px;
    }

    .card__inner {
        width: calc(100% - 100px);
        padding: 0.722em 1.5em 0.722em 1.5em;
        background-color: $white;

        .card__header {
            .card__title {
                font-size: 1.111em;
            }
        }

        .card__body {            
            margin-top: 0.5em;
        }
    }
}

.side-by-side-cards,
.three-column-cards {
    .card-grid-group {
        display: flex;
        flex-wrap: wrap;

        .card-container {
            float: none;

            .card-v3 {
                position: relative;
                display: flex;
                flex-direction: column;

                .card__inner {
                    flex: 1 0 auto;
                    display: flex;
                    flex-direction: column;

                    .card__body {
                        flex: 1 0 auto;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .card-v3 {
        .card__buttons {
            .card__button {
                @include button-hover-variant($btn-success-color, $btn-success-bg, $lime_dark);

                text-decoration: none;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .card--horizontal {
        .display-flex {
            flex-direction: row;
        }
    
        .card__image,
        .card__inner {
            width: 50%;
        }
    }
}

@media (min-width: $screen-md-min) {
    .card--horizontal {
        .card__inner {    
            .card__body {
                @include max-lines(3, $line-height-base);
            }
        }
    }

    .side-by-side-cards,
    .three-column-cards {
        .card-grid-group {
            .card-container {
                display: flex;
            }
        }
    }

    .side-by-side-cards {
        .card-grid-group {
            .card-container {
                flex: 0 0 50%;
                max-width: 50%;

                .card-v3 {
                    .card__inner {
                        padding: 2em 2em 1.5em;
                    }
                }
            }
        }
    }

    .three-column-cards {
        .card-grid-group {
            .card-container {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .card--horizontal {
        .card__inner {    
            .card__body {
                @include max-lines(4, $line-height-base);
            }
        }
    }
}