table {
	color: #333;
	font-size: 1em;
	width: 100%;

	tr td {
		padding: .25em .5em .25em 0;
		
		&:nth-child(1) {
			color: $gray-dark;
		}		
	}
}

.extra-note {
	margin-top: 1em;
	color: $gray-dark;
}

.asterisk {
	color: $gray-dark;
	font-style: italic;
	font-size: .9em;
}