* { -webkit-font-smoothing: antialiased; }

/* General */
.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.inline-block-important {
    display: inline-block !important;
}

abbr {
    text-decoration: none;
}

/* Titles & Lead */

h1, .h1, h2, .h2, h3, .h3, b, strong, .strong {
	font-family: $font-family-sans-serif-bold;
	font-weight: normal;
}

h1.big-h1 {
	font-size: 1.8em;
	margin: 0 0 1em;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 0.75em;
}

.heading-description {
    display: block;
    margin-top: 0.5em;
    font-family: $font-family-sans-serif;
    font-size: 0.75em;
	font-weight: normal;
}

.title-button-wrapper {
    h1 {
        margin: 0;
    }
}

.no-table-title {
    margin-bottom: 13px;
}

.faqtitle {
    font-size: 18px;
}

@media (min-width: $screen-sm-min) {
    .title-button-wrapper {
        h1 {
            display: inline;
            margin-right: 18px;
        }
    }
}

p.lead {
	font-size: 1.2em;
}

span.link {
	border-bottom: 1px solid $gray-light-worm;
}

/* Colors */

.primary-color {
	color: $red;
}

.primary-color-important {
    color: $red !important;
}

.secondary-color {
	color: $lime;
}

.grey,
.link-grey {
	color: $gray-dark;
    text-decoration: none;
}

.bg-lightgrey {
	background: $gray-lightest;
}

.bg-ultralight-grey {
    background-color: $gray-ultralightest;
}

a.white {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $red;
    }
}

/* Font */
.no-underline {
    text-decoration: none;
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Icons */

i.fa {
	margin-right: 8px;
	font-size: .8em;
}

i.greyed {
    color: #d3d3d3;
}

input[type="checkbox"] + i.fa {
  margin-left: 8px;
  margin-right: 0;
}

.plus-icon {
	position: relative;

	&:before {
		content: "+";
		display: inline-block;
		font-size: 1.2em;
		margin-right: 0.5em;
	}
}

.chrevron-left-icon,
.chrevron-right-icon {    
    position: relative;    

    &:before,
    &:after {
        display: inline-block;
        font-family: 'FontAwesome';
		font-size: 0.8em;
    }
}

.chrevron-left-icon:before {
    content: "\f053";
    margin-right: 0.556em;
}

.chrevron-right-icon:after {
    content: "\f054";
    margin-left: 0.556em;
}

/* Telephone Link */

.tel-link {
	color: #333;
	text-decoration: none;

	.fa {
		text-decoration: none;
	}
}

/* Text Align & Transform */

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-underline {
    text-decoration: underline;
}

/* Floats */

.float-left {
	float: left;
}
.float-right {
	float: right;
}

/* Horizontal Rulers */

hr.invisible-small {
	padding: 0 !important;
	margin: 0.5em 0 !important;
	visibility: hidden;
}
hr.invisible {
	padding: 0 !important;
	margin: 1em 0 !important;
	visibility: hidden;
}
hr.invisible-bigger {
	padding: 0 !important;
	margin: 1.389em 0 !important;
	visibility: hidden;
}
hr.invisible-big {
	padding: 0 !important;
	margin: 2.5em 0 !important;
	visibility: hidden;
}
hr.primary {
	border: 2px solid #d90327;
}
hr.primary.short {
	border-top: 4px solid #d90327;
	border-bottom: 0;
	border-color: #d90327;
	color: #d90327;
	outline: 0;
	height: 0;
	width: 30px;
	margin: 0.3em 0 0.4em;
	display: inline-block;
}

/* Margins & Paddings */

.no-wrap {
	word-wrap: normal
}
.no-margin {
  margin: 0;
}
.no-topmargin {
  margin-top: 0;
}
.no-padding {
    padding: 0;
}
.boxpadding {
  padding-top: 2em;
  padding-bottom: 2em;
}
.dontflow {
  overflow: hidden;
  padding-left: 1em;
  min-height: 150px;
}
.dontflow p { margin: 0 0 .2em; }
.dontflow dl { margin-bottom: .5em; }

@media (max-width: $screen-xs-max) {
	.dontflow {
	  padding-left: 0;
	  padding-bottom: 2em;
	  min-height: auto;
	}
}

/* Jump to */
.jump-to-navigation {
    color: $gray-dark;

    & .jump-to-navigation__items {
        a {
            &:after {
                content: " - ";
            }

            &:last-child:after {
                content: none;
            }
        }
    }
}

/* QR Code - Floating box */

.qr-code {
    width: 70%;
    margin: 0 auto;
}

/* Lists */

dl dd {
	padding: .1em 0;
}

.checklist {
  margin-left: 0;
  padding-left: 1em;
}

ul.check-list,
ul.arrow-list {
  list-style: none;
  margin-left: 0;
  padding: .35rem;
  margin: 0 0 1rem;
  text-indent: -.6em;
}
ul.check-list.cta {
  font-size: .8em;
	margin: .5em 0 .25em;
	padding-bottom: 0;
}
ul.check-list li,
ul.arrow-lisst li {
  margin-left: 0.9375rem;
}
ul.check-list li:before,
ul.arrow-list li:before {
  font-family: 'FontAwesome';
  font-size: .7em;
  color: #999;
  content: "\f00c";
  margin-right: .5em;
}
ul.arrow-list.cta li:before,
ul.check-list.cta li:before {
	color: #8bb611;
}

.list--simple {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
}
.list--lined {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
}
.list--lined li {
  padding-bottom: .25em;
  padding-top: .25em;
  border-bottom: 1px solid #f2f2f2;
}
.list--lined li a {
  text-decoration: none;
}

.toggle-link {
  cursor: pointer;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full-height {
    height: 100%;
    margin: 0 !important;
}

.no-min-height {
    min-height: 0;
}

.full-width {
    width: 100%;
    float: left
}

.vertical-align-wrapper {
    display: table;
    height: inherit;
    width: 100%;

    .table-row {
        display: table-row;
    }

    .align-bottom {
        display: table-cell;
    }

    .align-bottom {
        vertical-align: bottom;
    }
}

/* Collapse */
[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.desktop-dropdown {
    display: block;
    position: relative;
}

.desktop-dropdown-toggle {
    display: none !important;
}

@media (min-width: $screen-md-min) {
    .desktop-dropdown {
        display: none;
        position: absolute;
    }

    .desktop-dropdown-toggle,
    .desktop-dropdown.in,
    .desktop-dropdown.collapsing {
        display: block !important;
        height: auto;
    }
}

/* Media Object - with Flexbox */

@media (min-width: 795px) {
    .media {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
    }

    .media-figure {
        margin-right: 1em;
    }

    .media-body {
        flex: 1;
    }
}

@media (max-width: 795px) {
    .media img {
        width: 100%;
    }
}

/* Services */

.service {
    padding: 4px 0 12px;
}

/* Payment */

.payment-options img {
    width: 36px;
}

.payment-options small {
    text-transform: uppercase;
}

.payment-options {
    color: #666666;
}

.payment-options p {
    color: #000000;
}

.payment-options .divider {
    color: #d3d3d3;
    padding: 0 3px;
}

.payment-options .divider:last-child {
    display: none;
}

.facility-detail {
    .payment-methods {
        .payment-method {
            height: 73px;
            padding-top: 0;
        }
    }
}

/* Season Tickets */

.seasontickets .item {
    width: 95px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.moreinfo {
    margin-top: 1.25em;
}

.product-detail {
    .product-detail__intro {
        font-size: 1.222em;
    }
}

.cities-list {
    .list-columns {
        font-size: 1.111em;
    }
    
    .pf-number {
        color: $gray-light-worm;
    }
}

/* Whitespaces */
.city-description {
    + .cities-spotlight {
        margin-top: 40px;
    }
}

.city-description,
.cities-spotlight {
    + .cities-overview {
        margin-top: 40px;
    }
}

@media (min-width: $screen-sm-min) {
    .city-description,
    .cities-spotlight {
        + .cities-overview {
            margin-top: 90px;
        }
    }
}

/* Grid */

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
    padding-left: 0;
    padding-right: 0;
}

/* Columns */
.list-columns {
    column-count: auto;

    li {
        padding: 5px 0;
    }

    @media (min-width: $screen-sm-min) {
        column-count: 2;
        column-gap: $grid-gutter-width;
    }

    @media (min-width: $screen-md-min) {
        column-count: 3;
    }
}

.clear {
	clear: both;
}

.mobile {
    display: none;
}

.display-block,
.block-xs {
    display: block;
}

@media (min-width: $screen-sm-min) {
    .block-xs {
        display: inline-block;
    }
}

@media screen and (max-width: 795px) {
    .desktop {
        display: none !important;
    }
    
    .mobile,
    .mobile-block {
        display: block;
    }
}


/* Boxing */
.gray-content-box{
    background-color: $gray-lighter;
    padding: $grid-gutter-width;
}



.myqp-new {
    .no-account {
        .no-account-info {
            padding-top: 10px;

            .check-list {
                margin-bottom: 25px;
            }
        }

        .btn {
            margin-bottom: 5px;
        }
    }

    ul.check-list {
        text-indent: initial;

        li {
            position: relative;
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 1.75em;

            &:before {
                position: absolute;
                left: 0;
                margin-right: 0;
                font-size: 1em;
                color: $lime;
            }
        }

        &.no-margin {
            margin: 0;
            
            li {
                margin-left: 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .creditcard {
        position: relative;
        padding-right: 30px;

        .delete {
            position: absolute;
            padding: 10px;
            top: 10px;
            right: 10px;

            .icon {
                width: 10px;
            }
            
            &:hover {
                .icon svg line {
                    stroke: $red;
                }
            }
        }
    }
    
    .order {
        .order-cancel {
            margin-top: 25px;
        }
    }

    .fake-table {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 15px;
        background-color: $gray-ultralight;

        .fake-column {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .fake-header {
            font-family: $font-family-sans-serif-bold;
        }

        &.no-background {
            background: none;
        }
    }

    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    @media (min-width: $screen-sm-min) {
        .no-account {
            .btn {
                margin-right: 15px;
                margin-bottom: 2px;
            }
        }
    }

    .sm-right,
    .md-right {
        text-align: left
    }

    @media (min-width: $screen-sm-min) {
        .sm-right {
            text-align: right;
        }
    }

    @media (min-width: $screen-md-min) {
        .md-right {
            text-align: right;
        }
    }
}