/* Titles & Lead */

h1, .h1, h2, .h2, h3, .h3, b, strong, .strong {
	font-family: $font-family-sans-serif-bold;
	font-weight: normal;
}

h1.big-h1 {
	font-size: 1.8em;
	margin: 0 0 1em;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 0.75em;
}

p.lead {
	font-size: 1.2em;
}

span.link {
	border-bottom: 1px solid $gray-light-worm;
}

/* Colors */

.primary-color {
	color: $red;
}

.secondary-color {
	color: $lime;
}

.link-grey {
	color: $gray-dark;
}

.bg-lightgrey {
	background: $gray-lightest;
}

/* Icons */

i.fa {
	margin-right: 8px;
	font-size: .8em;
}

i.greyed {
    color: #d3d3d3;
}

input[type="checkbox"] + i.fa {
  margin-left: 8px;
  margin-right: 0;
}

/* Telephone Link */

.tel-link {
	color: #333;
	text-decoration: none;

	.fa {
		text-decoration: none;
	}
}

/* Text Align & Transform */

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}

/* Floats */

.float-left {
	float: left;
}
.float-right {
	float: right;
}

/* Horizontal Rulers */

hr.invisible-small {
	padding: 0 !important;
	margin: 0.5em 0 !important;
	visibility: hidden;
}
hr.invisible {
	padding: 0 !important;
	margin: 1em 0 !important;
	visibility: hidden;
}
hr.primary {
	border: 2px solid #d90327;
}
hr.primary.short {
	border-top: 4px solid #d90327;
	border-bottom: 0;
	border-color: #d90327;
	color: #d90327;
	outline: 0;
	height: 0;
	width: 30px;
	margin: 0.3em 0 0.4em;
	display: inline-block;
}

/* Margins & Paddings */

.no-wrap {
	word-wrap: normal
}
.no-margin {
  margin: 0;
}
.no-topmargin {
  margin-top: 0;
}
.no-padding {
    padding: 0;
}
.boxpadding {
  padding-top: 2em;
  padding-bottom: 2em;
}
.dontflow {
  overflow: hidden;
  padding-left: 1em;
  min-height: 150px;
}
.dontflow p { margin: 0 0 .2em; }
.dontflow dl { margin-bottom: .5em; }

@media (max-width: $screen-xs-max) {
	.dontflow {
	  padding-left: 0;
	  padding-bottom: 2em;
	  min-height: auto;
	}
}

/* Lists */

dl dd {
	padding: .1em 0;
}

.checklist {
  margin-left: 0;
  padding-left: 1em;
}

ul.check-list,
ul.arrow-list {
  list-style: none;
  margin-left: 0;
  padding: .35rem;
  margin: 0 0 1rem;
  text-indent: -.6em;
}
ul.check-list.cta {
  font-size: .8em;
	margin: .5em 0 .25em;
	padding-bottom: 0;
}
ul.check-list li,
ul.arrow-lisst li {
  margin-left: 0.9375rem;
}
ul.check-list li:before,
ul.arrow-list li:before {
  font-family: 'FontAwesome';
  font-size: .7em;
  color: #999;
  content: "\f00c";
  margin-right: .5em;
}
ul.arrow-list.cta li:before,
ul.check-list.cta li:before {
	color: #8bb611;
}

.list--simple {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
}
.list--lined {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
}
.list--lined li {
  padding-bottom: .25em;
  padding-top: .25em;
  border-bottom: 1px solid #f2f2f2;
}
.list--lined li a {
  text-decoration: none;
}

.toggle-link {
  cursor: pointer;
}



.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full-height {
    height: 100%;
    margin: 0 !important;
}

.full-width {
    width: 100%;
    float: left
}


/* Media Object - with Flexbox */

@media (min-width: 795px) {
    .media {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
    }

    .media-figure {
        margin-right: 1em;
    }

    .media-body {
        flex: 1;
    }
}

@media (max-width: 795px) {
    .media img {
        width: 100%;
    }
}

/* Services */

.service {
    padding: 4px 0 12px;
}

/* Payment */

.payment-options img {
    width: 36px;
}

.payment-options small {
    text-transform: uppercase;
}

.payment-options {
    color: #666666;
}

.payment-options p {
    color: #000000;
}

.payment-options .divider {
    color: #d3d3d3;
    padding: 0 3px;
}

.payment-options .divider:last-child {
    display: none;
}

/* Season Tickets */

.seasontickets .item {
    width: 95px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.moreinfo {
    margin-top: 1.25em;
}

/**** Badge - TODO: Where? ****/

.badge {
  border-radius: 0;
  font-size: .8em;
  line-height: 1.4;
  padding: 0 .3571428571rem;
  display: inline-block;
  font-weight: 600;
  min-width: .7142857143rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  top:-2px;
  position: relative;
}

.badge-green {
  background-color: #8bb611;
  color: #fff;
}

/* Grid */

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
    padding-left: 0;
    padding-right: 0;
}

.clear {
	clear: both;
}

.mobile {
    display: none;
}

@media screen and (max-width: 795px) {
    .desktop {
        display: none !important;
    }
    
    .mobile,
    .mobile-block {
        display: block;
    }
}


/* Boxing */
.gray-content-box{
    background-color: $gray-lighter;
    padding: $grid-gutter-width;
}