.qcontentpane {
    min-height: 500px;
    min-height: 70vh;
    margin-bottom: 100px;
    padding-top: 30px;
}

.fixedscroll .qcontentpane {
    padding-top: 107px;
}

@media (max-width: $screen-xs-max) {
    //.container-fluid {  padding: 0 20px; }
    .xs-text-center { text-align:center}
}

/////////////////////////////////////////////////////
// Re-usable margins
// Usage: Start with mobile and override larges screens with the querries. 

.margBtm0  { margin-bottom: 0 !important;}
.margBtm5  { margin-bottom: 5px !important;}
.margBtm10 { margin-bottom: 10px !important;}
.margBtm20 { margin-bottom: 20px !important;}
.margBtm30 { margin-bottom: 30px !important;}
.margBtm40 { margin-bottom: 40px !important;}
.margBtm60 { margin-bottom: 60px !important;}

@media (min-width: $screen-sm-min) {
    .sm- { 
        &margBtm0 { margin-bottom: 0 !important;}
        &margBtm5 { margin-bottom: 5px !important;}
        &margBtm10 { margin-bottom: 10px !important;}
        &margBtm20 { margin-bottom: 20px !important;}
        &margBtm30 { margin-bottom: 30px !important;}
        &margBtm40 { margin-bottom: 40px !important;}
    }
}
@media (min-width: $screen-md-min) {
    .md- { 
        &margBtm0  { margin-bottom: 0 !important;}
        &margBtm5  { margin-bottom: 5px !important;}
        &margBtm10 { margin-bottom: 10px !important;}
        &margBtm20 { margin-bottom: 20px !important;}
        &margBtm30 { margin-bottom: 30px !important;}
        &margBtm40 { margin-bottom: 40px !important;}
    }
}

@media (max-width: $screen-sm-max) {
	.qcontentpane{
	    padding-top: 30px !important;
	}
}


