
.Qpager {margin: 0 0 50px 0; overflow:hidden;
        &-step {width: 34%; height:50px; padding-left: 40px; float:left; background: $color-delta; color: $color-9F; position:relative; z-index: 2; line-height: 50px; font-size: 1.1em; font-weight: 700;@include box-sizing(border-box);
                &:first-child {width: 32%; padding-left: 20px; z-index:3; }
                &:last-child {z-index:1; }
                &:not(:last-child):after {content: "";position: absolute;right: -15px; top:0; width: 50px;height: 50px;background: inherit;z-index: 1;transform: rotate(45deg);border-top: 2px solid white;border-right: 2px solid white;  box-shadow:5px -5px 10px -3px rgba(0, 0, 0, 0.15);}
                &.is-passed {background: $color-alpha; color: $color-eta; cursor:pointer; }
                &.amputated-hands {cursor:default; }
                &.is-active {background: $color-primary; color: white}
                span {position:relative; z-index:2;display: inline-block;vertical-align: top;} 
                .Qpager-step-title {display:inline-block; max-width: 85%;white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; }
        } 
} 
span.Qpager-step-number {display:none;}


@media (max-width: $breakpoint-sm) {
    .Qpager {
        &-step {width: 18%;
            span.Qpager-step-title {display:none;}
            span.Qpager-step-number {display:inline-block}
            &:first-child {width: 18%;}
            &:last-child {width: 22%;}
            &.is-passed {}
            &.is-active {width: 60%;
                 &:last-child {width: 64%;}
                .Qpager-step-title {display:inline-block;}
                span.Qpager-step-number {display:none;}
            }
        
        }
    }
}