.button,
button,
input[type="submit"] {
    background-color:$color-gamma;
    border:0px solid $color-gamma;
    color:$color-white;
    cursor:pointer;
    display:inline-block;
    font-weight:bold;
    height:auto; 
    line-height:1.2em;
    margin:0;
    padding:1em;
    max-width: 100%; 
    text-decoration:none;
    vertical-align:top;
    width:auto;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    &.button--regSpace {margin: 0 0 1em 0;}
    &:link,
    &:visited {
        color:$color-white;
        text-decoration:none;
    }

    &:focus,
    &:hover,
    &:active {
        background-color:$color-gamma;
        /* border-color:darken($color-gamma,10%); */
    }

    &:disabled {
        color:rgba($color-white, .5);
    }

    /* &:active {
      border-color:darken($color-gamma,20%);
    } */

    /* Primary button (red) */

    &.button--primary {
        background-color:$color-primary;
        border-color:$color-primary;

        &:link,
        &:visited {
            background-color:$color-primary;
            color:$color-white;
            text-decoration:none;
        }

        &:focus,
        &:hover,
        &:active {
            background-color:$color-primary;
            /* border-color:darken($color-primary,10%); */
        }

        /* &:active {
          border-color:darken($color-primary,20%);
        } */

    }

    /* Secondary button (green) */

    &.button--secondary {
        background-color:$color-secondary;
        border-color:$color-secondary;

        &:link,
        &:visited {
            background-color:$color-secondary;
            color:$color-white;
            text-decoration:none;
        }

        &:focus,
        &:hover,
        &:active {
            background-color:$color-secondary;
            /* border-color:darken($color-secondary,10%); */
        }

        /* &:active {
          border-color:darken($color-secondary,20%);
        } */

    }

    &.button--alpha {
        background-color:$color-alpha;
        border-color:$color-alpha;
        color:$color-white;

        &:link,
        &:visited,
        &:focus,
        &:hover,
        &:active {
            background-color:$color-alpha;
            color:$color-white;
            text-decoration:none;
        }

        &:focus,
        &:hover,
        &:active {
            background-color:$color-alpha;
            /* border-color:darken($color-alpha,10%); */
            color:$color-white;
        }

        /* &:active {
          border-color:darken($color-alpha,20%);
        } */

    }

    /* Dimmed button (no background, only text) */

    &.button--dimmed {
        background-color:transparent;
        border-color:transparent;
        color:$color-gamma;

        &:link,
        &:visited,
        &:focus,
        &:hover,
        &:active {
            background-color:transparent;
            color:$color-gamma;
            text-decoration:none;
        }

        &:focus,
        &:hover,
        &:active {
            background-color:transparent;
            color:$color-gamma;
        }

    }

    &.button-add {
        &:before {
            display: inline-block;
            content: "+";
            font-size: 111%;
            margin-right: 10px;
        }
    }

}

/* Button flow
---------------------------------------------------------*/

.button-flow {
    overflow:hidden;

    .button + .button {
        margin-top: 1em;
    }

    > .button-flow__prev,
    > .button-flow__next {
        float: left;
        clear: both;
    }

    @include respond-min($breakpoint-s) {
        .button + .button {
            margin-top: 0;
        }

        > .button-flow__prev,
        > .button-flow__next {
            clear: none;
        }

        > .button-flow__next {
            float: right;
        }
    }


    .button-flow__prev,
    .button-flow__next {

        .button-flow-step {
            display:none;
        }

    }

    @include respond-min($breakpoint-s) {

        .button-flow__prev,
        .button-flow__next {

            .button-flow-step {
                display:inline;
            }

        }

    }

}

.button-icon {
    position: relative;
    width: 2.5em;
    height: 2.5em;

    &:before {
        @extend %fa;
        position: absolute;
        width: 1em;
        height: 1em;
        left: 0.5em;
        top: 0.5em;
    }

    &:after {
        @extend %fa;
        position: absolute;
        width: 1em;
        height: 1em;
        right: 0.5em;
        top: 0.5em;
    }

    &.button-icon-only {
        width:auto;
        height:auto;
        line-height:normal;
        padding:0;
        background-color:transparent;
        border:none;

        &:before {
            position:relative;
            left:0;
            top:0;
        }
    }

    &.button-delete:before {
        content:"\f1f8";
        color: $color-primary;
    }

    &.button-save:before {
        content:"\f0c7";
        color: $color-secondary;
    }

    &.button-cancel:before {
        content:"\f00d";
        color:$color-primary;
    }

    &.button-edit:before {
        content:"\f040";
        color: $color-secondary;
    }

    &.button-download:before {
        content:"\f019";
    }

    &.button-add:before {
        content:"\f084";
    }

    &.button-add:after {
        content:"\f067";
        font-size: 8px !important;
    }

    &.button-calculate:before {
        content:"\f1ec";
    }

    &.button-up:before {
        content:"\f0d8";
    }

    &.button-down:before {
        content:"\f0d7";
    }
}

.button--medium {
    padding: 0.5em 0.7em;
}

.button-svg {
    position: relative;
    width: auto;
    height: auto;
    line-height: normal;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    &.button-edit {
        .cls-1 {
            fill: #d90327;
        }

        .cls-2 {
            fill: #666;
        }

        .cls-3 {
            clip-path: url(#clip-path);
        }

        .cls-4, .cls-6 {
            fill: none;
        }

        .cls-4 {
            stroke: #666;
            stroke-width: 1.2px;
        }

        .cls-5 {
            stroke: none;
        }
    }

    &.button-delete {
        .cls-1, .cls-3 {
            fill: none;
        }

        .cls-1 {
            stroke: #666;
            stroke-width: 1.2px;
        }

        .cls-2 {
            stroke: none;
        }
    }
}

.button--cancel {
    display:inline-block;
    margin-top:1em;
    margin-left:1em;
}