.cookie-msg {
  height:0;
  overflow:hidden;
  transition:height 500ms cubic-bezier(.17,.67,.72,1);

  .cookie-msg__inner {
    padding:1.5em 0;
    font-size:80%;
  }

  h2 {
    margin-bottom:0;
  }

  @include respond-min($breakpoint-l){

    .cookie-msg__inner {
      padding-right:15em;
      position:relative;
    }

    p {
      margin-bottom:0;
    }

    button {
      margin-top:-1.5em;
      position:absolute;
      right:0;
      top:50%;
    }

  }

}