/* Overlay
---------------------------------------------------------*/

.page-overlay {
  background:rgba(0, 0, 0, .5);
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  width:100%;
  z-index:1000;

  .page-overlay-inner {
    text-align:center;

    > * {
      margin-bottom:1.5em;
      margin-top:1.5em;
    }

    * {
      text-align:left;
    }

  }

}

@include respond-min($breakpoint-xs) {

  .page-overlay {
    bottom:auto;
    height:100%;
    position:fixed;

    .page-overlay__outer {
      display:table;
      height:100%;
      width:100%;

      .page-overlay__inner {
        display:table-cell;
        overflow:auto;
        text-align:center;
        vertical-align:middle;

        > * {
          margin-left:auto;
          margin-right:auto;
        }

      }

    }

  }

}


/* Dialog
----------------------------------------*/

.dialog {
  background:$color-white;
  display:inline-block;
  max-width:90%;
  position:relative;
  text-align:left;

  /* VH units aren't supported well, so this will have to do for now... */

  .dialog__inner {
    max-height:15em;
    overflow:auto;

    @media (min-height:30em){ /* 480 */
      max-height:20em;
    }

    @media (min-height:48em){ /* 768 */
      max-height:30em;
    }

    @media (min-height:64em){ /* 1024 */
      max-height:48em;
    }

  }

  @include respond-min($breakpoint-m){
    max-width:80%;
  }

  @include respond-min($breakpoint-m){
    max-width:60%;
  }

  .dialog__close {
    background-color:$color-black;
    border-width:0;
    color:$color-white;
    direction:ltr;
    display:block;
    line-height:1;
    margin-top:-1.25em;
    margin-right:-1.25em;
    overflow:hidden;
    padding:.75em;
    position:absolute;
    right:0;
    top:0;

    span {
      height:0;
      overflow:hidden;
      position:absolute;
      width:0;
    }

    &:before {
      @extend %fa;
      content: "\f00d";
    }

  }

  > * {
    margin-left:auto;
    margin-right:auto;
    position:relative;
  }

}