/* Page navigation
----------------------------------------*/
.page-navigation {
    &#page-navigation {
        display:none;
    }

    &#mobile-page-navigation {
        display:block;
    }

    @include respond-min($breakpoint-l) {
        &#page-navigation {
            display:inline-block;
        }

        &#mobile-page-navigation {
            display:none;
        }
    }
    

    .blank-list {
        > li {
            display:inline-block;
            margin-right:2em;

            &:last-child {
                margin-right:0;
            }
        }
    }
}

/* Quick nav
----------------------------------------------- */
.quick-nav {

    @extend %font-size-gamma;
    margin:0;
    text-transform:none;
    z-index:4;
    position:absolute;
    right:1em;
    padding:.25em 0;
    @include respond-min($breakpoint-l) {
        display:none !important;
    }

    li {
        display:inline-block;
        vertical-align:middle;
    }

    a {
        padding:0;
        color:$color-alpha;
        font-weight:bold;

        &:before {
            @extend %fa;
            text-align:center;
            width:1.5em;
        }

        &:focus,
        &:active,
        &:hover {
            color:$color-primary;
            text-decoration:none;
        }

    }
}

/* Subnavigation
----------------------------------------------- */

.subnavigation {
    color:$color-primary;
    a {
        color:$color-alpha;
        text-decoration:none;

        &:focus,
        &:hover,
        &:active {
            color:$color-primary;
        }
    }

}

/* Sitemap
----------------------------------------------- */

.sitemap {

    a {
        color:$color-white;
        text-decoration:none;

        &:focus,
        &:hover,
        &:active {
            text-decoration:underline;
        }

    }

    > li {
        font-weight:bold;

        li {
            font-weight:normal;

            a {
                color:$color-delta;
            }

        }

    }

}

@include respond-min($breakpoint-xs) {

    .sitemap {
        margin-left:-#{gs-gutter(m,false,false)/2 + '%'};
        margin-right:-#{gs-gutter(m,false,false)/2 + '%'};

        > li {
            padding-left:#{gs-gutter(m,false,false)/2 + '%'};
            padding-right:#{gs-gutter(m,false,false)/2 + '%'};
            width:50%;
        }

    }

}

@include respond-min($breakpoint-m) {

    .sitemap {
        margin-left:-#{gs-gutter(tb,false,false)/2 + '%'};
        margin-right:-#{gs-gutter(tb,false,false)/2 + '%'};

        > li {
            padding-left:#{gs-gutter(tb,false,false)/2 + '%'};
            padding-right:#{gs-gutter(tb,false,false)/2 + '%'};
            width:33.333%;
        }

    }

}

@include respond-min($breakpoint-l) {

    .sitemap {
        margin-left:-#{gs-gutter(db,false,false)/2 + '%'};
        margin-right:-#{gs-gutter(db,false,false)/2 + '%'};

        > li {
            padding-left:#{gs-gutter(db,false,false)/2 + '%'};
            padding-right:#{gs-gutter(db,false,false)/2 + '%'};
            width:16.6667%;
        }

    }

}

/* My account nav
----------------------------------------------- */

.my-account-nav-wrapper h1{
    color: $color-black;
}

.my-account-nav {
    &.details-list{
        border-top:1px solid $color-delta;
        margin-bottom:0;
    }

    &.history-list{
        margin-top: 0;
    }

    @include respond-min($breakpoint-m){
        &.history-list{
            border-top:1px solid $color-delta;
            margin-top: 3.5em;
        }
    }

    li {
        border-bottom:1px solid $color-delta;
    }

    .my-account-subnav {
        margin-left:3em;
    }

    a {
        position: relative;
        display:block;
        padding: 1em 0 1em 3em;
        color:$color-black;
        font-weight:bold;
        text-decoration:none;

        &:focus,
        &:active,
        &:hover,
        &.active {
            color:$color-primary;
            text-decoration:none;
        }

        &:before {
            @extend %fa;
            position: absolute;
            left: 1em;
            top: 1.25em;
            width:1.5em;
        }

        &:after {
            @extend %fa;
            position: absolute;
            top: 1.25em;
            width: 1.25em;
            margin-left: 0.5em;
        }

    }

}

.my-account-nav__profile {
    &:before {
        content:"\f007";
    }
}

 .my-account-nav__myAccount {
    &:before {
        content: "\f2c3";
    }
}

.my-account-nav__myFinancialProfile {
    &:before {
        content: "\f09d";
    }
}

.my-account-nav__changeCredentials {
    &:before {
        content: "\f084";
    }
}

.my-account-nav__pendingContractApprovals {
    &:before {
        content: "\f087";
    }
    &:after {
        content: "\f06a";
        color: $color-primary;
    }
}

.my-account-nav__myInvoices {
    &:before {
        content: "\f15c";
    }
}

.my-account-nav__myBookings {
    &:before {
        content:"\f1b9";
    }
}

.my-account-nav__mySeasonTickets {
    &:before {
        content:"\f145";
    }
}

.my-account-nav__myValueCards {
    &:before {
        content:"\f029";
    }
}

.my-account-nav__home {
    &:before {
        content:"\f07a";
    }
}

.my-account-nav__mycontacts {
    &:before {
        content:"\f2c0";
    }
}


/* Booking nav
----------------------------------------------- */
.booking-nav {

    margin-top:1em;

    li {
        margin-right:1.5em;
    }

    > li + li {
        margin-left:0;
    }

    a, button {

        text-decoration:none;

        &:before {
            @extend %fa;
            width:2em;
            color:$color-beta;
        }

        &:focus,
        &:active,
        &:hover {
            color:$color-beta;
        }

    }

    button {
        border:none;
        padding:0;
        background-color:transparent;
        color:$color-primary;
        line-height:1.5em;
        font-weight:normal;
        text-align:left;
    }

}

.booking-nav__view {
    &:before {
        content:"\f06e";
    }
}

.booking-nav__re-send-email {
    &:before {
        content:"\f003";
    }
}

.booking-nav__invoice {
    &:before {
        content:"\f0f6";
    }
}

.booking-nav__credit-invoice {
    &:before {
        content:"\f15c";
    }
}

.booking-nav__cancel {
    &:before {
        content:"\f00d";
    }
}

.cancellation-msg {

    color:$color-beta;

    &:before {
        @extend %fa;
        width:2em;
        content:"\f05a";
        color:$color-primary;
    }

}
