/* Products list
----------------------------------------------- */

.products-list {
  margin-bottom:1.5em;
}

/* Single product
----------------------------------------------- */

.product {position:relative;}
.product__overview {min-height: 4em; background-color:$color-epsilon; padding:0.8em 1.5em 0.8em 6em; position:relative;
    @include respond-min($breakpoint-sm){
        padding-right:12em;
    }
}
.product__additionals {background-color:$color-epsilon; padding:1em 1.5em 0.5em 6em;}
.product__additionals.is-white {background-color:white; padding-right: 0}
.product__additionals__dark {background-color:$color-delta; padding:0.5em 1.5em 0.5em 6em;}
.product__valuecard__submit {background-color:white; padding-right: 0; margin-top: 1em; text-align:right;}

.product .product__overview, .product__options {
    input.underpants, .input-placeholder {
        left:1em;
        position:absolute;
        top:1em;
    }
    label {
        &:before { /* overlay to make whole area clickable */
        @extend %overlay;
        content:"";
        cursor:pointer;
        z-index:1; 
        }
    }
}
.product__overview__name__title {
    display:block;
    @extend %font-size-gamma;
    font-weight:bold;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.product__overview__no_spaces {
    display:block;
    color:$color-primary;
}
//.product__overview__name__description {color: $color-beta;}
.product__overview__name__promo { margin: 0.5em 0 0 0;
    .fa {margin-right: 0.5em}
}

.product__options {padding:0.5em 1.5em 0.5em 6em; position: relative;background-color:$color-epsilon;
    @include respond-min($breakpoint-sm){
        padding-right:12em;
    }  
    li {position:relative; padding-top: 0.8em;padding-left: 2em; min-height: 2.5em;}
    .product-price {right: -10.5em} 
    .input-placeholder {left: 0;}
}    

.addons-list {
    .product-price {
        top: 1em;
    }
}

.product__options__name__title {display:block;   font-weight:bold;}
.product__overview .product__options .input-placeholder {  left: 0em;}

.product__overview__name__tag {
position: absolute;
right: 0;
top: 0;
padding: 0.2em 0.5em;
font-size: 0.8em;
background: $color-black;
color: white;
}


.product__overview__discount {
color:$color-secondary;
font-weight:bold;
}

.product__category {
position: absolute;
right: 7.75em;
bottom: 0;
font-size: 14px;
padding: .1em .5em;
background: #466e7a;
color: white;
}
.product__overview__original-price {
text-decoration:line-through;
    @include respond-min($breakpoint-sm){
        bottom:4.5em;
        right:1.5em;
        position:absolute;
    }
}


.product-price__originalprice {
    text-decoration:line-through;
        color:$color-9F;margin-bottom: -0.5em;margin-top: -0.6em;
}
.product-price .product-price__amount .product-price__originalprice {font-size: 0.7em;}

.product-price {
    font-weight:bold;
    padding-top: 0.5em;
    text-align: right;
    padding-bottom: 1em;
    @include respond-min($breakpoint-sm){
        position:absolute;
        right:1.5em;
        top: 2em;
        padding-bottom:0; 
        padding-top: 0;
    }

    .product-price__amount {
        font-size: 1.5em;
        line-height: 1em;
        color: $color-primary; // color:$color-44;


        .original {
            font-size:.66em;
            line-height:.66em;
            text-decoration:line-through;
            white-space:nowrap;
        }

        .discounted {
            white-space:nowrap;
        }
    }

    .product-price__vat {
        @extend .small;
        display:block;
        font-weight:normal;
        color:$color-beta;
        margin-bottom:0;
        margin-top:-.3em;
        position:relative;
    }

}
.product__not-available {
    margin: 0 -1.5em -.5em -6em;
    padding: .5em 1.5em 0 6em;
    line-height: 2em;
    background: $color-epsilon;
    color: $color-beta;
    a[href] {
      position: relative;
      z-index: 2;
    }
}

.product__not__listed {
    font-weight:bold;
}

.product {
  /* Product Active State */
  &.toggle--activated {
    .product__overview {
     /*background-color:$color-primary;
      color:$color-white;
      .product-price__amount,
      .product-price__vat,
      .product__overview__discount {
        color:$color-white;
      }*/ 
    }
    .product__options {
      display:block;
    }
  }
  /* Product prices (multiple) */
  &.product--has-prices.toggle--activated {
    .product__prices {
      display: flex;
    }
  }
  .product__prices {
    display: none;
    input {position:absolute;}
  }
  &.toggle--activated .product__prices {
    flex-direction: column;
    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }

    /*margin-top: .5em;*/
    margin-top: 2px; 

    .product__price {
      position: relative;
      display: block; 
      width: 100%;
       @include box-sizing(border-box);
      /*margin-bottom: .5em;*/
      margin-bottom: 2px;
      padding: .7em 0;
      @media screen and (min-width: $breakpoint-sm) {
        width: 25%;
        height: auto;
        /*margin-left: .5em;
         padding: 1em 1.5em 0 0;
        */
        text-align:right;
        margin-left: 2px; 
        padding: 1em 1.2em 1.5em 0; 
         overflow:hidden;
      }
      background: $color-epsilon;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
      
      input {
        opacity: 1;
        @media screen and (min-width: $breakpoint-sm) {
          opacity: 0;
        }
        left: 2em;
      }
    }
    .product-price__originalprice { margin-top: 0; display:none;
        @media screen and (min-width: $breakpoint-sm) {
          display:block;
        };

    }
    // Inactive state
    .product-price__name,
    .product-price__amount,
    .product-price__vat {
      @media screen and (min-width: $breakpoint-sm) {
        display: block;
      }
      /*text-align: right;*/
    }
    .product-price__name {
      margin-left: 6em;
      @media screen and (min-width: $breakpoint-sm) {
        margin-left: 0;
        padding-bottom:0.5em;
      }
      color: $color-black;
    }
    .product-price__amount {
      float: right; 
      margin-right: .5em;
      font-size: 1.2em;
      @media screen and (min-width: $breakpoint-sm) {
        float: none;
        margin-right: 0;
        font-size: 1.5em;
      }
      line-height: 1em;
      color: $color-primary;

      .original {
          font-size:.66em;
          line-height:.66em;
          text-decoration:line-through;
          white-space:nowrap;
      }

      .discounted {
          white-space:nowrap;
      }
    }
    .product-price__vat {
      display: none;
      @media screen and (min-width: $breakpoint-sm) {
        display: block;
      }
      font-size: .75em;
      font-weight: normal;
      color: $color-beta;
    }

    // Active state
    .product__price.toggle--activated {
      background: $color-primary;
 
      .product-price__name,
      .product-price__amount,
      .product-price__originalprice,
      .product-price__vat {
        color: white;
      }
    }

  }

}
// end old code 






//.product input:checked + .input-placeholder + .product__overview__name + .product-price .product-price__amount {color: $color-primary; } 



 .product-summary-finalprize {
        font-size:1.3333em;
        line-height:1em;
        color:#000; 
        font-weight: bold;
 }
 .product__overview__name__title--subtle {
     @extend %font-size-delta; 
 }

 .product__additionals .upperTitle {line-height: 1em !important;
display: inline-block;}

 .product__additionals__dark .product__icon {
    position: relative;
    top: -5px;
    left: 5px;
    color: $color-jota;
    text-decoration: none;
    font-size: 1em;
 }

 .product__additionals .documents-info-container {
     display: flex;
     justify-content: flex-end;
 }