.step-indicator {
  display:table;
  width:100%;
  margin-bottom:1.5em;
  overflow:hidden;

  > li {
    background-color:$color-epsilon;
    color:$color-gamma;
    position:relative;
    display:table-cell;
    padding:.5em; /* padding-left is equal to :before + :after border-width */
    text-align:center;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.1em;

    + li {
      border-left:.25em solid $color-white;
    }

    &:after,
    &:before {
      display:none;
    }

  }

  a,
  span {
    color:$color-gamma;
    display:inline-block;
    text-decoration:none;
    vertical-align:middle;
  }

  a {
    position:relative;
    z-index:1;
  }

  .step-indicator__previous,
  .step-indicator__current {
    background-color:$color-black;
    color:$color-white;

    &:after {
      border-left-color:$color-black;
    }

    a,
    span {
      color:$color-white;
    }

  }

  .step-indicator__current {
    background-color: $color-primary;

    &:after {
      border-left-color: $color-primary;
    }

  }

  .step-indicator__label {
    position: absolute;
    left: -9999em;
  }

}

@include respond-min($breakpoint-s){

  .step-indicator {

    > li {

      padding:.5em 0 .5em 1em;

      + li {
        padding-left: 2.45em;
      }

      &:last-child {
        padding-right:1em;
      }

      &:before,
      &:after {
        content:"";
        border-color:transparent;
        border-left-color:$color-epsilon;
        border-style:solid;
        border-width:2em;
        display:block;
        height:0;
        left:100%;
        margin-top:-2em;
        position:absolute;
        top:50%;
        width:0;
        z-index:1;
      }

      &:before {
        border-left-color:$color-white;
        border-width:2.45em;
        margin-top:-2.4em;
      }

      &:after {
        z-index:1;
      }

      /* Hide arrows on last-child */

      &:last-child {
        &:after,
        &:before {
          display:none;
        }
      }
    }

    .step-indicator__current {

      .step-indicator__step {
        display: inline;

        &:after {
          content:": ";
        }
      }

      .step-indicator__label {
        display: inline;
        position: static;
        left: 0;
      }
    }

  }
}

@include respond-min($breakpoint-l){

  .step-indicator {

    > li {
      padding:.5em 0 .5em 2.45em
    }

    > li + li {
      padding-left:2.75em;
    }

    > li:last-child {
      padding-right:1.5em;
    }

  }

}

