/* Form
----------------------------------------*/

form {

    margin-bottom:1.5em;

    fieldset {
        border-width:0;
        margin:0;
        padding:0;
    }

    legend {
        @extend %font-size-gamma;
        @extend %margin-bottom-gamma;
        font-weight:bold;
        margin-bottom:1.5em;
    }
    @media screen and (min-width: 48em) {
        legend.two-lines {
            height: 3.282em;
        }
    }

    input,
    textarea {
        -webkit-appearance:none;
    }

    input[type="checkbox"] {
        -webkit-appearance:checkbox;
    }

    input[type="radio"] {
        -webkit-appearance:radio;
    }

    input,
    textarea,
    select,
    .readonly {
        background-color:$color-epsilon;
        box-sizing:border-box;
        border:1px solid $color-gamma;
        border-radius:0;
        box-shadow:none;
        font-size:1em;
        padding:.75em;
        width:100%;

        &:focus {
            background-color:$color-zeta;
            box-shadow:none;
            outline:none;
        }

    }

    .readonly {
        display:inline-block;
        padding-left:0;
    }

    input[readonly], input[readonly="readonly"], .readonly, select[readonly] {
        background-color:transparent;
        border:none;
        border-color:transparent;
    }

    @include respond-max($breakpoint-xs) {

        select {
            -webkit-appearance:menulist-text;
        }

    } 

    .datepicker {
        position:relative;

        &:after {
            @extend %fa;
            content:"\f073";
            color:$color-beta;
            display:block;
            line-height:1;
            margin-top:-.5em;
            pointer-events:none; /* otherwise the input below won't be focusable when clicking the icon */
            position:absolute;
            right:1em;
            top:50%;
            cursor:pointer;
        }

    }
    .datepicker.datepicker--time:after {content:"\f017";}

    textarea {
        resize:vertical;
    }

    select {
        height:3em;
    }

    input[type="radio"],
    input[type="checkbox"] {
        height:1.5em;
        opacity:.005;
        position:relative;
        width:1.5em;
        z-index:20;
    }

    label {
        display:block;
        font-weight:bold;
        margin-bottom:1.5em;

        .label__required {
            color:$color-primary;
        }
        .label__optional {
            color: $color-9F;
            font-weight: 400;
            display:block;
            font-size:0.8em;
            margin-top: -0.2em;
            height: 0;
             @media screen and (max-width: $breakpoint-m) {
            height: auto; display:inline-block; margin-top:0;
        }
        }

    }

    .label-error {
        color:$color-primary;
    }

    input ~ label {
        display:inline-block;
        font-weight:normal;
        margin-bottom:0;
    }

    .input-placeholder {
        border-color:$color-gamma;
    }

    .form-item {
        margin-bottom:1.5em;
        overflow:hidden; /* quick clear fix */
        position:relative;

        legend {
            font-size:1em;
        }

        &.form-item--option {
            margin-bottom:0;
            padding-left:2em;
            position:relative;

            input,
            .input-placeholder {
                left:0;
                position:absolute;
                top:.25em;
            }

        }

        .form-item__error {
            color:$color-primary;
            display:block;
            font-weight:normal;
            margin-top:.75em;
        }

        input[type="checkbox"] ~ .form-item__error {
            margin-top:0;
        }

        &.toggle {
            height:0;
            margin-bottom:0;
            opacity:0;
        }

        &.toggle--activated {
            transition:all 0.6s ease-in-out;
            height:1.5em;
            margin-bottom:1.5em;
            opacity:1;
        }

        &.default-license-plate {
            select {
                width:auto;
                height:3em;
                margin-bottom:.25em;
                padding-right: 1em;
            }

            input {
                width:10em;
                height:3em;
            }
        }

    }

    .form-item--invalid {

        input,
        textarea,
        select {
            background-color:$color-white;
            border-color:$color-primary;
            color:$color-primary;
        }

    }

    .form-table {
        display: table;
        width: 100%;

        .form-table-row {
            display: table-row;

            .form-table-cell {
                display: table-cell;
                padding-left: 1em;

                &:first-child {
                    padding-left: 0;
                }

                &.fit-width {
                    width: 1px;
                }

                &.max-width {
                    width: 100%;
                }

                &.max-width-with-input {
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }

                &.with-button {
                    input {
                        padding-right: 3em;
                    }
                }
            }
        }
    }
}

/* On larger screens: label besides input
----------------------------------------*/
@include respond-min($breakpoint-m) {

    .form-item {
        padding-left:12.5em;
        max-width:500px;

        label {
            float:left;
            margin-left:-12.5em;
            position:relative;
            width:12em;
            top:.75em;
        }

        input ~ label,
        .form-item__error {
            float:none;
            margin-left:auto;
            position:static;
            top:auto;
            width:auto;
        }

        p {
            padding-left:0;
            margin-bottom:0;
            color:$color-beta;
        }

        .readonly {
            padding-left:0.75em;
        }

    }

}


/* Form item with a submit beside it
----------------------------------------*/
.input-addon {
    display:flex;

    .input-addon__input {
        flex:1;

    }

}


/* Fake radio-button/checkbox.
----------------------------------------*/

.input-placeholder {
    background:$color-white;
    border:1px solid $color-delta;
    color:$color-primary;
    display:inline-block;
    height:1em;
    line-height:1;
    text-align:center;
    width:1em;

    &.input-placeholder--xl {
        font-size:1.5em;
        height:1.5em;
        line-height:1.5;
        width:1.5em;
    }

    input[type="radio"] + &,
    input[type="radio"] ~ & {
        border-radius:50%;
    }

    &:before {
        @extend %fa;
        content:"";
        display:block;
        line-height:1;
    }

    input:checked + &:before,
    input:checked ~ &:before {
        content:"\f00c";
    }

    .form-item--invalid &,
    .form-item--invalid & {
        border-color:$color-primary;
    }

}


/* Form tabs
----------------------------------------*/
.form-tabs {
    .form-tabs__label {
        background: $gray-light-worm;
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        padding: .5em 1em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 13px;
        @media screen and (min-width: $breakpoint-s) {
            font-size: 16px;
        }
        @media screen and (min-width: $breakpoint-sm) {
            font-size: 18px;
        }
        @media screen and (min-width: $breakpoint-m) {
            font-size: 20px;
        }
    }
    .form-tabs__label ~ .form-tabs__label {
        margin-left: -.3em;
        
    }
    .form-tabs__radio {
        position: absolute;
    }
    .form-tabs__radio:checked + .form-tabs__label, .active {
        background: $color-primary;
        color: $color-zeta;
    }
}
.form-tabs__tab {
    margin: 1em 0;
    @media screen and (min-width: $breakpoint-sm) {
        background-color: $color-eta;
        padding: 1em 2em;
    }
    &.toggle--activated {
        display: block;
    }
    &.toggle--deactivated {
        display: none;
    }
}


/* Form foldable
----------------------------------------*/
.form-foldable__label {
    padding: .75em;
    border: 1px solid $color-gamma;
    background: $color-epsilon;
    color: $color-beta;
    font-weight: normal;
    .input-placeholder {
        margin-right: .5em;
    }
}
.form-foldable__labelbis {
    color: $color-beta;
    font-weight: normal;
    .input-placeholder {
        margin-right: .5em;
    }
}
.form-foldable__content {
    &.toggle--activated {
        display: none;
    }
    &.toggle--deactivated {
        display: block;
    }
}

.select-wrapper {
    position: relative;

    &:after {
        @extend %fa;
        position: absolute;
        right: 1em;
        bottom: 0;
        content: '\f107';
        pointer-events: none;
    }

    select {
        padding-right: 1em;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}

.line-edit {
    input[type="password"],
    input[type="text"],
    input[type="email"],
    textarea,
    select,
    .readonly {
        background-color:transparent;
        color:$color-beta;
        box-sizing:border-box;
        border:none;
        border-bottom:1px solid $color-beta;
        border-radius:0;
        box-shadow:none;
        font-size:1em;
        padding:.25em 0;

        &:focus {
            background-color:transparent;
            box-shadow:none;
            outline:none;
        }

        &.error {
            color:$color-primary;
            border-bottom:1px solid $color-primary;
        }
        
    }
    input[disabled], input[readonly] {border-bottom-color: #dadada; }
    input[disabled],select[disabled], input[readonly],select[readonly] {
        background-color:transparent;
        border:none;
        border-color:transparent;
    }
    .FEdisabledwrapper {
        &.select-wrapper:after {display:none}
        &.select-wrapper:before {display:block; content: " "; position:absolute; left: 0; top: 0; width: 100%; height: 100%;  }
        &.datepicker:after {display:none}
    }
   .datepicker:after {right:0}
   .select-wrapper {
        &:after {
            right:5px;
        }

        select {
            padding-right:1em;
        }
    }
    .form-item--invalid {
        input,
        textarea,
        select {
            border-color:$color-primary;
        }
    }
}

#orderoverviewpromocode {
    width:90%;
}

#orderoverviewpromocode::-ms-clear {
    display: none;
}

form.line-edit {
    color: $color-beta;

    h2 {
    //    color: $color-beta;
    }

    input[type="password"],
    input[type="text"],
    textarea {
        width:100%;
    }

    input.license-plate-input {
        width:5em;
        margin-left:.5em;
    }

    .form-item {
        clear: left;
        overflow: visible;

        label {
            margin-bottom:0;
        }
    }

  

    .readonly {
        border-bottom:none;
    }

    input[type="password"],
    input[type="text"],
    select {
        height:auto;
    }

    fieldset {
        background-color:$color-eta;
        padding:1em 2em
    }

    .form-tabs__tab {
        margin:0;

        &.tab-bank-details {
            margin-top:0.25em;
        }

        &.tab-options {
            margin-left:12.5em;
        }
    }
}



@include respond-min($breakpoint-m) {
    .my-account-content__myprofile,
    .my-account-content__myfinancialprofile {
        form.line-edit {
            max-width:38.5em;
        }
    }

    form.line-edit {
        .form-item {
            margin-bottom:0;

            label {
                margin-bottom:1em;
            }
        }

       input[type="password"],
        input[type="text"],
        textarea,
        select,
        .readonly {
            padding:.75em 0;
        }

        input[type="password"],
        input[type="text"],
        input[type="email"],
        select {
            height:3em;
        }

        // needed to correct weird size of IE cross on email inputs
        input[type="email"]::-ms-clear {
            height:1.5em;
        }

        &.line-edit--nocol {
            .form-item {
                label {
                    &.placeholder {
                        margin-bottom:0;
                        font-weight:normal;
                        position:absolute;
                        cursor:text;

                        + input {
                            margin-top:0;
                            transition:all .25s ease-in-out;
                        }
                    }

                    &.label {
                        cursor:default;
                        font-weight:bold;

                        + input {
                            margin-top:2em;
                            transition:all .25s ease-in-out;
                        }
                    }
                }
            }

            .button {
                margin-top:1em;
            }
        }
    }
    .line-edit--likeFormtag {
         input[type="password"],  input[type="text"], input[type="email"], select {  height:3em;}
         .select-wrapper:after {bottom:1em}
    }

}

form.line-edit .form-item.default-license-plate {
    .select-wrapper {
        margin-right: 1em;
    }
    .select-wrapper:after {bottom:0}
    input {
        width:10em;
        height:3em;
    }
}

.margin-top {
    margin-top:1em;
}

.margin-top-small {
    margin-top:0.5em;
}

.transparent {
    background-color:transparent;
}


.error-border {
    border-color: $color-primary !important;
}

.color-primary-important {
    color: $color-primary !important;
}

.resetHeight {
    &.select-wrapper:after {bottom: 0.5em; right:0}
    select {height: auto;}
}

.containsBUbutton { position:relative; min-width: 200px;
    .button-BU {position:absolute; bottom: 0; right: 0; height: 3em; padding: 0 0 0 1em; background:transparent;}
    .button-BU-primarycolor { color: $color-primary; }
    .button-BU-secondarycolor { color: $color-secondary; }
}
@include respond-max($breakpoint-m) {
  .containsBUbutton  .button-BU {height:2em;} 
}

.textreadonlyvalue {padding: .75em 0; } 