
/* Generic styles 
----------------------------------------------------- */
h1.title-blackNsmall {
    color: $color-black;
    font-weight: normal;
}

.paddLeft0 {
    padding-left: 0 !important;
}

.paddLeft1em {
    padding-left: 1.0em !important;
}

.paddRight1em {
    padding-right: 1.0em !important;
}

.paddRight1em5 {
    padding-right: 1.5em !important;
}

.paddRight20 {
    padding-right: 20px !important;
}

.paddBtm0em5 {
    padding-bottom: 0.5em !important;
}

.paddBtm1em {
    padding-bottom: 1em !important;
}

.paddTop0em5 {
    padding-top: 0.5em !important;
}

.paddTop0em7 {
    padding-top: 0.7em !important;
}

.padd0 {
    padding: 0;
}

.margLeft5em {
    margin-left: 5em !important;
}

.margTop0 {
    margin-top: 0 !important;
}

.margTop2 {
    margin-top: 2px !important;
}

.margTop3 {
    margin-top: 3px !important;
}

.margTop1em {
    margin-top: 1em !important;
}
//.margTopNeg0em5 {margin-top: -0.5em;}
.margBtm0 {
    margin-bottom: 0 !important;
}

.margBtm2 {
    margin-bottom: 2px !important;
}

.margBtm10 {
    margin-bottom: 10px !important;
}

.margBtm20 {
    margin-bottom: 20px !important;
}

.margBtm24 {
    margin-bottom: 24px !important;
}

.margBtm1em {
    margin-bottom: 1em !important;
}

.margRight1em {
    margin-right: 1em !important;
}

.off-screen {
    position: fixed;
    top: 0;
    left: -1000px;
}

.error-detail {
    margin-top: 1em;
}

.kletskopke {
    line-height: 1.2em;
}

.minw200 {
    min-width: 200px;
}

.maxwnone {
    max-width: none;
}

.mw25perc {
    max-width: 25%;
}

.mw74perc {
    max-width: 74%;
}

.width-auto {
    width: auto;
}

.before-wrapper {
    width: 100%;
    position: relative;
}

@include respond-max($breakpoint-m) {
    .sm-margBtm1em {
        margin-bottom: 1em !important;
    }
}

form .form-item--labelontop {
    padding-left: 0;

    label:not(.screenreader) {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

.upperTitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: normal;
}

.Qalert {
    border: 1px dotted transparent;
    position: relative;
    padding: 1em 1em 1em 3em;
    margin-bottom: 1em;

    &--error {
        border: 1px dotted $color-primary;
        color: $color-primary;
    }

    .fa {
        position: absolute;
        left: 1em;
        top: 1em;
        font-size: 1.2em;
    }

    &--subtle {
        border: 0 none;
        padding: 0.5em 0 0.5em 0;

        .fa {
            left: 0;
            top: 0.6em;
        }

        + .Qalert--subtle {
            margin-top: -2em;
        }
    }

    &--noResults {
        font-size: 1.3em;
        border: 1px dotted $color-9F;
        color: #959494;

        .fa {
            color: $color-9F;
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }
}



.Qorder-step {
    border-top: 1px solid $color-delta;
    padding-bottom: 1.5em;
    padding-top: 1.5em;

    &:first-child {
        margin-top: 0;
    }
}

@include respond-min(1410px) {
    .Qorder-tables {
        padding-left: 12.5em;
    }
}


.inlineblock {
    display: inline-block;
}

.block {
    display: block;
}


// Alignment as used in bootstrap
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


.select-autowidth select {
    width: auto;
}

.infotext {
    color: $color-9F;
    font-weight: 400;
    display: block;
    font-size: 0.8em;
}

.upload-documents {

    .file-upload {
        min-height: 5em;
        border: 1px dashed $color-delta;
        margin-bottom: 0;

        &.single {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .upload-icon {
            width: 20%;
            display: inline-block;

            svg {
                fill: $color-delta;
            }
        }
    }

    .file-list {
        border: 1px solid $color-delta;
        border-top-width: 0;
        padding: 1em;

        .remove-icon {
            float: right;
        }
    }

    h3 {
        display: inline-block;
    }
}



.flat-list {
        margin-bottom: 0;

        li {
            padding-left: 0;

            &:before {
                content: none;
            }
        }
}

.table {
    display: table;

    .table-row {
        display: table-row;

        .table-cell {
            display: table-cell;
            padding-left: 1em;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}
