/* Box-size everything
----------------------------------------------- */
/* *,
*:after,
*:before {
  box-sizing:border-box;
} */

/* Hide content for screenreader
----------------------------------------------- */

.hidden {
  display:none !important;
}

.hidden-abbr[title] {
  border-bottom-width:0;
}

/* Screenreader class for visually hiding content.
----------------------------------------------- */

.screenreader, .sr-only {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}

/* Target class for laying over elements to make big areas clickable
----------------------------------------------- */

.target {
  height:100%;
  left:0;
  overflow:hidden;
  position:absolute;
  direction:ltr;
  text-indent:-999em;
  top:0;
  width:100%;
}

%overlay {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

/* Floats
----------------------------------------------- */
.fl {
  float:left;
}

.fr {
  float:right;
}

/* Class for clearing floats
----------------------------------------------- */

.group {
  @include before-after {
    content:" ";
    display:table;
  }
}

.group {
  @include after {
    clear: both;
  }
}

%clearfix {
    @include after {
        content:"";
        display:block;
        clear:both;
    }
}

/* Generic classes for removing bottom and/or top margins
----------------------------------------------- */

.glued {
  margin-top:0 !important;
}

.stacked {
  margin-bottom:0 !important;
}

.island {
  margin-bottom:1.5em;
}

/* Generic classes for changing text-color
----------------------------------------------- */

.color-primary {    color:$color-primary; }
.color-secondary {  color:$color-secondary; }
.color-alpha {      color:$color-alpha; }
.color-beta {       color:$color-beta; }
.color-gamma {      color:$color-gamma; }
.color-delta {      color:$color-delta; }
.color-epsilon {    color:$color-epsilon; }
.color-white {      color:$color-white; }
.color-9F {         color: $color-9F;}
.color-jota {       color: $color-jota;}


/* Light text on dark background
----------------------------------------*/

.diapositive {

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  .alpha,
  .beta,
  .gamma,
  .delta {
    color:$color-white;
  }

}

/* Generic classes for changing text-appearance
----------------------------------------------- */

.normal {
  font-style:normal;font-weight:400;
}

.italic {
  font-style:italic;
}

.strong {
  font-weight:bold;
}

.upper {
  text-transform:uppercase;
}

.lower {
  text-transform:lowercase;
}

/* Inner
----------------------------------------------- */

.inner {
  padding:1.5em;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.inner--small {
  padding:.75em;
}

.inner--large {
  padding:3em;
}

.pointer {
    cursor: pointer;
}

/* Media
----------------------------------------------- */
.media {
  overflow:hidden;

  .media__img {
    float:left;
    margin-right:1.5em;
  }

  .media__bd {
    overflow:hidden;
  }

}