/* Table
----------------------------------------*/


.table--QstyledTable {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:1.5em;
  table-layout:fixed;
  width:100%;

  tr {
    border-bottom:1px solid $color-epsilon;
  }

  thead th {
    color:$color-primary;
    font-weight:bold;
  }

  thead tr {
    border-bottom-width:2px;
  }

  th,
  td {
    box-sizing:border-box;
    padding:.75em .75em .75em 0;
    vertical-align:top;
  }

}

/* Table striped
----------------------------------------*/

.table--Qstriped {

  th,
  td {
    padding:.75em 1em;
  }


  thead tr {
    border-bottom-color: $color-delta;
  }

  tbody tr {
    border-bottom: 1px solid $color-delta;

    &:nth-child(odd){
      background-color:$color-epsilon;
    }

    &:nth-child(even){
      background-color:$color-white;
    }
  }
}