


/* Responsive baseline
----------------------------------------------- */

body {
  color:$color-alpha;
  font-family: "FutT", Arial, Helvetica, sans-serif;
  font-size:87.5%; /* 14 */
  line-height:1.5;
}

@include respond-min($breakpoint-m){
  body {
    font-size:93.75%; /* 15 */
  }
}

@include respond-min($breakpoint-l){
  body {
    font-size:100%; /* 16 */
  }
}

@include respond-min($breakpoint-xl){
  body {
    font-size:112.5%; /* 18 */
  }
}

/* Add baseline class to the body for vertical rhythm
----------------------------------------------- */

.baseline {
  background-image:linear-gradient(top,
      #D7D7D7 0%,
      #FFFFFF 3%,
      #FFFFFF 47%,
      #D7D7D7 50%,
      #FFFFFF 53%
  );
  background-position:left top;
  background-size:100% 1.5em;

  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol,
  dl,
  label,
  p {
    background:rgba(255,0,0,.25);
  }

}

/* Headings
----------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
.alpha,
.beta,
.gamma,
.delta,
.epsilon {
  color:$color-black;
  font-weight:bold;
  margin-top:0;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color:$color-alpha;
      text-decoration:none;
    }
  }
}

h1,
.alpha {
  @extend %font-size-alpha;
  @extend %margin-bottom-alpha;
  color:$color-primary;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color:$color-primary;
    }
  }

}

h2,
.beta {
  @extend %font-size-beta;
  @extend %margin-bottom-beta;
  color:$color-black;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color:$color-black;
    }
  }

}

h3,
.gamma {
  @extend %font-size-gamma;
  @extend %margin-bottom-gamma;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color:$color-black;
    }
  }

}

h4,
.delta {
  @extend %font-size-delta;
  @extend %margin-bottom-delta;
}

h5,
.epsilon {
  margin-bottom:1.5em;
}

.header-separator {
  border-bottom:2px solid $color-delta;
}

h1.header-separator,
.alpha.header-separator {
  padding-bottom:.79411em;
}

h2.header-separator,
.beta.header-separator {
  padding-bottom:1em;
}

h3.header-separator,
.gamma.header-separator {
  padding-bottom:1.125em;
}

/* Title bars
----------------------------------------------- */

.title-bar {
  color:$color-white;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color:$color-white;
    }
  }

  &.alpha { /* 34 */
    padding:.3970588em; /* 13.5 / 34 */
  }

  &.beta { /* 27 */
    padding:.5em; /* 13.5 / 27 */
  }

  &.gamma { /* 24 */
    padding:.5625em; /* 13.5 / 24 */
  }

  &.delta { /* 20 */
    padding:.675em; /* 13.5 / 20 */
  }

  &.epsilon { /* 18 */
    padding:.75em; /* 13.5 / 18 */
  }

  &.title-bar--primary {
    background-color:$color-primary;
  }

  &.title-bar--secondary {
    background-color:$color-secondary;
  }

  &.title-bar--alpha {
    background-color:$color-alpha;
  }

  &.title-bar--beta {
    background-color:$color-beta;
  }

  &.title-bar--gamma {
    background-color:$color-gamma;
  }

  &.title-bar--delta {
    background-color:$color-delta;
  }

  &.title-bar--epsilon {
    background-color:$color-epsilon;
  }

  &.title-bar--delta,
  &.title-bar--epsilon {
    color:$color-alpha;

    a {
      &:link,
      &:hover,
      &:focus,
      &:active,
      &:visited {
        color:$color-alpha;
      }
    }

  }

}

/* Paragraph
----------------------------------------------- */

p {
  margin:0 0 1.5em;
}

.lead {
  @extend %font-size-gamma;
}

.small {
  @extend %font-size-small;
  margin-bottom:1.7142857em;
}

.xsmall {
  @extend %font-size-extra-small;
  margin-bottom:2em;
}

/* Links
----------------------------------------------- */

a {

  &:link {
    color:$color-primary;
    text-decoration:underline;
  }

  &:focus,
  &:hover {
    color:$color-alpha;
    text-decoration:none;
  }

  &:visited {
    color:$color-primary;
  }

}

/* Images
----------------------------------------------- */

img {
  margin-bottom:1.5em;
  max-width:100%;
  vertical-align:bottom;
}

/* Selected text
----------------------------------------------- */

::selection {
  background-color:$color-black;
  color:$color-white;
}

/* HR
----------------------------------------------- */

hr {
  background-color:$color-delta;
  border-width:0;
  height:2px;
  margin:1.5em 0;
  width:100%;
}


/* 
    ============================================================================
*/


