/* Grid
----------------------------------------*/
.grid-placeholder {
    background:$color-epsilon;
    padding:1.5em;
    position:relative;
    text-align:center;

    > :last-child {
        margin-bottom:0;
    }

}

.grid {
    position:static; /* to prevent linting errors */
    > .grid__item {
        box-sizing:border-box;
        display:inline-block;
        vertical-align:top;
        width:100%;

        > *:last-child,
        > *:last-child > *:last-child,
        > *:last-child > *:last-child > *:last-child {
            margin-bottom:0;
        }

    }

    &.grid--gutter {
        margin-left:-$grid-gutter/2;
        margin-right:-$grid-gutter/2;
        > .grid__item {
            padding:0 $grid-gutter/2;
        }
    }

    /* Static grid
  ----------------------------------------*/
    > .grid__item--1of2 {
        width:50%;
    }
    > .grid__item--1of3 {
        width:33.33%;
    }
    > .grid__item--1of4 {
        width:25%;
    }
    > .grid__item--1of5 {
        width:20%;
    }

    > .grid__item--2of3 {
        width:66.66%;
    }
    > .grid__item--2of5 {
        width:40%;
    }

    > .grid__item--3of4 {
        width:75%;
    }
    > .grid__item--3of5 {
        width:60%;
    }

    > .grid__item--4of5 {
        width:80%;
    }

    /* Grid XS
    ----------------------------------------*/
    @include respond-min($breakpoint-xs) {

        > .grid__item--xs-1of2 {
            width:50%;
        }
        > .grid__item--xs-1of3 {
            width:33.33%;
        }
        > .grid__item--xs-1of4 {
            width:25%;
        }
        > .grid__item--xs-1of5 {
            width:20%;
        }

        > .grid__item--xs-2of3 {
            width:66.66%;
        }
        > .grid__item--xs-2of5 {
            width:40%;
        }

        > .grid__item--xs-3of4 {
            width:75%;
        }
        > .grid__item--xs-3of5 {
            width:60%;
        }

        > .grid__item--xs-4of5 {
            width:80%;
        }

    }

    /* Grid S
    ----------------------------------------*/
    @include respond-min($breakpoint-s) {

        > .grid__item--s-1of2 {
            width:50%;
        }
        > .grid__item--s-1of3 {
            width:33.33%;
        }
        > .grid__item--s-1of4 {
            width:25%;
        }
        > .grid__item--s-1of5 {
            width:20%;
        }

        > .grid__item--s-2of3 {
            width:66.66%;
        }
        > .grid__item--s-2of5 {
            width:40%;
        }

        > .grid__item--s-3of4 {
            width:75%;
        }
        > .grid__item--s-3of5 {
            width:60%;
        }

        > .grid__item--s-4of5 {
            width:80%;
        }

    }

    /* Grid M
    ----------------------------------------*/
    @include respond-min($breakpoint-m) {

        > .grid__item--m-1of2 {
            width:50%;
        }
        > .grid__item--m-1of3 {
            width:33.33%;
        }
        > .grid__item--m-1of4 {
            width:25%;
        }
        > .grid__item--m-1of5 {
            width:20%;
        }

        > .grid__item--m-2of3 {
            width:66.66%;
        }
        > .grid__item--m-2of5 {
            width:40%;
        }

        > .grid__item--m-3of4 {
            width:75%;
        }
        > .grid__item--m-3of5 {
            width:60%;
        }

        > .grid__item--m-4of5 {
            width:80%;
        }

    }

    /* Grid L
    ----------------------------------------*/
    @include respond-min($breakpoint-l) {

        > .grid__item--l-1of2 {
            width:50%;
        }
        > .grid__item--l-1of3 {
            width:33.33%;
        }
        > .grid__item--l-1of4 {
            width:25%;
        }
        > .grid__item--l-1of5 {
            width:20%;
        }

        > .grid__item--l-2of3 {
            width:66.66%;
        }
        > .grid__item--l-2of5 {
            width:40%;
        }

        > .grid__item--l-3of4 {
            width:75%;
        }
        > .grid__item--l-3of5 {
            width:60%;
        }

        > .grid__item--l-4of5 {
            width:80%;
        }

    }

}

/* Order Flow Desktop
----------------------------------------*/
.order-pf,
.ticket-pf {
    display:none;
    margin-top:1.5em;
}

@include respond-min($breakpoint-l) {

    .order-pf,
    .ticket-pf {
        @include gs-span(da, 1, 2, false, false);
        margin-top:0;
    }

    .ticket-pf {
        .address {
            border-width: 2px;
        }
    }

    .order-flow {
        @include gs-span(da, 3, 8, false, false);
    }

    .ticket-details {
        @include gs-span(da, 1, 6, false, false);
    }

}

/* My account
----------------------------------------*/
@include respond-min($breakpoint-m) {

    .my-account-nav-wrapper {
        @include gs-span(da, 1, 2, false, false);
    }

    .my-account-content {
        @include gs-span(da, 3, 8, false, false);
    }

}

/* Invoice Mobile
----------------------------------------*/
@include respond-min($breakpoint-s) {

    .address-details--qpark {
        @include gs-span(m, 1, 2, false, false);
    }

    .address-details--customer {
        @include gs-span(m, 2, 2, false, false);
    }

}

/* Invoice Desktop
----------------------------------------*/
@include respond-min($breakpoint-l) {

    .address-details--qpark {
        @include gs-span(da, 1, 4, false, false);
    }

    .address-details--customer {
        @include gs-span(da, 5, 8, false, false);
    }

}

/* Parking facilities
----------------------------------------*/
@include respond-min($breakpoint-s) {

    .parking-facilities {
        margin-left:-#{gs-gutter(m, false, true)};

        > li {
            padding-left:gs-gutter(m, false, true);
            width:50%;
        }

    }

}

@include respond-min($breakpoint-m) {

    .parking-facilities {
        margin-left:-#{gs-gutter(ta, false, true)};

        > li {
            padding-left:gs-gutter(ta, false, true);
            width:50%;
        }

    }

}

@include respond-min($breakpoint-l) {

    .parking-facilities {
        margin-left:-#{gs-gutter(db, false, true)};

        > li {
            padding-left:gs-gutter(db, false, true);
            width:33.333%;
        }

    }

}

/* Ticket Tablet
----------------------------------------*/
@include respond-min($breakpoint-m) {

    .ticket-print {
        @include gs-span(ta, 1, 2, false, false);
    }

    .ticket-phone {
        @include gs-span(ta, 3, 4, false, false);
    }

}

/* Ticket Desktop
----------------------------------------*/
@include respond-min($breakpoint-l) {

    .ticket-print {
        @include gs-span(da, 3, 5, (3, 8), false);
    }

    .ticket-phone {
        @include gs-span(da, 6, 8, (3, 8), false);
    }
}

/* Group - 50/50 section grouping
----------------------------------------*/
.group {
    .group-item {

        @include respond-min($breakpoint-m) {
            &:nth-of-type(2n-1){
                @include gs-span(ta, 1, 2, false, false);
                clear: left;
            }

            &:nth-of-type(2n){
                @include gs-span(ta, 3, 4, false, false);
            }
        }

        @include respond-min($breakpoint-l) {
            &:nth-of-type(2n-1){
                @include gs-span(da, 1, 4, false, false);
            }

            &:nth-of-type(2n){
                @include gs-span(da, 5, 8, false, false);
            }
        }
    }
}