
.QtableLayout { display:table; width:100%;
    &-cell {display:table-cell;vertical-align:top; }
    .valign-Btm {vertical-align:bottom}
}
.QtableLayout--flexwidth {width:auto; }
@media (max-width: $breakpoint-s) { //480
   .QtableLayout:not(.QtableLayout--nobreak) { display:block; 
        .QtableLayout-cell {display:block; }
    }
}


