.confirmation-summary {
    &__icon,
    &__message {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        width: 58px;
        margin-right: 15px;
    }

    &__message {
        .message-label {
            font-size: 1.111em;
        }
    }
}