label {
    color: $gray-dark;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.form-control {
    height: 60px;
    font-size: 1.389em;

    &,
    &:focus {
        border-color: $gray-light-worm;
        box-shadow: none;
    }
}