
$font-size-base:          18px;
$font-size-large:         20px; 
$font-size-small:         14px; 
$font-size-h1:            34px; 
$font-size-h2:            30px; 
$font-size-h3:            24px; 
$font-size-h4:            20px; 
$font-size-h5:            18px; 
$font-size-h6:            12px; 

$grid-float-breakpoint:     $screen-xs-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint;


//== Wells
// --------------------------------------------------

$well-bg:                     $gray-ultralightest;
$well-border:                 $gray-light-worm;